@import "reset.less";
@import "mixin.less";
@import "var.less";
@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');

.wrapper{
  height: 100%;
}
header{
  height: 80px;width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
  .button{
    font-size: 0;
    line-height: 1;
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 30px;top: 31px;
    span{
      display: inline-block;
      font-size:16px;
      padding: 0 15px;
      color:#fff;
    }
    .login{
      border-right: 1px #fff solid;
    }
  }
  .nav{
    width: 15.625%;height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: @font-main;
    h1{
      text-indent: -9999px;
      width: 46.66666%;height: 100px;
      position: absolute;
      top: 100px;left: 27%;
      background: url('../photo/logo.png') no-repeat center;
      background-size: 100%;
    }
    ul{
      position: absolute;
      text-align: center;
      top: 35%;left: 0;right: 0;
      margin: auto;
    }
    li{
      padding: 10px 5px;
      a{
        font-size: 18px;
        color:@font-white;
      }
    }
    .hamburger{
      display: none;
      width: 26px;height: 26px;
      position: absolute;
      top: 27px;right: 27px;
      background: url('../photo/icon/menu01.png') no-repeat center;
      background-size: 100%;
      cursor: pointer;
    }
  }
}
.content_wrap{
  height: 100%;
  margin-left: 15.625%;
  .main{
    display: block;
    width: 100%;height: 100%;
    position: relative;
    li{
      display: block;
      width: 100%;height: 100%;
      position: absolute;
      left: 0;top: 0;
      background: url(../photo/main_01.jpg) no-repeat center;
      text-align: center;
      &:before{
        content:"";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .text_wrap{
      display: inline-block;
      vertical-align: middle;
      span{
        display: block;
        text-align: center;
        font-size: 60px;
        line-height: 68px;
        font-weight: lighter;
        color:@font-main;
      }
      .sub{
        position: relative;
        top: -20px;
        font-size: 36px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 43.2px;
        padding-left: 43.2px;
        color:@font-sub;
      }
      .line{
        width: 240px;height: 6px;
        margin: 60px auto 0;
        background-color: @font-sub;
      }
    }
    .main_intro2{
      display: none;
      background: url(../photo/main_03.jpg) no-repeat center;
    }
    .main_intro3{
      display: none;
      background: url(../photo/main_02.jpg) no-repeat center;
    }
  }
  .match{
    width: 100%;height: 540px;
    background: url('../photo/main_match.jpg') no-repeat center;
    .inner{
      .inner();
      text-align: center;
      position: relative;
      &:before{
        content:"";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .text_wrap{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      span{
        display: block;
        text-align: center;
        font-size: 60px;
        line-height: 68px;
        font-weight: lighter;
        color:@font-main;
      }
      .sub{
        position: relative;
        top: -15px;
        font-size: 36px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 43.2px;
        color:@font-sub;
      }
      .line{
        width: 240px;height: 6px;
        margin: 60px auto 0;
        background-color: @font-sub;
      }
      .match{
        display: none;
        margin-top: 30px;
        width: 100px;height: 30px;
        border: 1px @font-main solid;
        border-radius: 10px;
        color: @font-main;
      }
    }
    .score{
      div{
        width: 200px;
        font-size: 0;
        position: absolute;
        top: 100px;
      }
      span{
        font-size: 30px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color:@font-white;
        display:block;
        vertical-align: middle;
      }
      .score_team{
        font-size: 200px;
        margin-top: 50px;
      }
      .first_team{
        left: 15px;
      }
      .second_team{
        right: 15px;
      }
    }
  }
  .news{
    .inner{
      .inner();
    }
    .text_wrap{
      position: relative;
      display: block;
      text-align: center;
      padding-top: 140px;
      span{
        display: block;
        text-align: center;
        font-size: 60px;
        line-height: 68px;
        font-weight: lighter;
        color:@font-main;
      }
      .line{
        width: 240px;height: 6px;
        margin: 60px auto 0;
        background-color: @line-gray;
      }
    }
    .news_wrap{
      height: 100%;
      padding: 40px 15px;
      overflow: hidden;
      >div{
        width: 496px;
      }
      .sec_left{
        float: left;
        .section{
          position: relative;
          float: right;
          padding: 10px;
          &:last-child{
            margin-top: 60px;
          }
          .title_img{
            float: right;
            margin-bottom: 20px;
          }
          .date{
            width: 100px;height: 25px;
            float: right;
            display: inline-block;
            text-align: right;
            span{
              font-size: 14px;
              line-height: 1;
              display: inline-block;
              vertical-align: middle;
              color: #333333;
              margin-right: 10px;
            }
          }
          .title{
            float: right;
            width: 300px;height: 25px;
            vertical-align: middle;
            span{
              font-size: 18px;
              line-height: 1;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .content{
            float: right;
            width: 380px;height: 100px;
            margin: 20px 10px;
            p{
              display: block;
              font-size: 16px;
              line-height: 26px;
              height: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              color:@font-news;
            }
          }
          .reply{
            position: absolute;
            left: 0;bottom: 50px;
            width: 97px;
            text-align: center;
            i{
              display: inline-block;
              font-size: 24px;
              line-height: 60px;
              color:@font-white;
              width: 70px;height: 67px;
              background: url('../photo/icon/chat.png') no-repeat center;
            }
          }
        }
      }
      .sec_right{
        float: right;
        border-left: 2px @line-gray solid;
        padding-top: 70px;
        .section{
          position: relative;
          float: left;
          padding: 10px;
          &:last-child{
            margin-top: 60px;
          }
          .title_img{
            float: left;
            margin-bottom: 20px;
          }
          .date{
            clear:left;
            float: right;
            margin-right: 60px;
            width: 100px;height: 25px;
            display: inline-block;
            text-align: left;
            span{
              font-size: 14px;
              line-height: 1;
              display: inline-block;
              vertical-align: middle;
              color: #333333;
            }
          }
          .title{
            float: left;
            width: 300px;height: 25px;
            vertical-align: middle;
            span{
              font-size: 18px;
              line-height: 1;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .content{
            float: left;
            width: 380px;height: 100px;
            margin: 20px 10px;
            p{
              display: block;
              font-size: 16px;
              line-height: 26px;
              height: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              color:@font-news;
            }
          }
          .reply{
            position: absolute;
            right: 0;bottom: 50px;
            width: 97px;
            text-align: center;
            i{
              display: inline-block;
              font-size: 24px;
              line-height: 60px;
              color:@font-white;
              width: 70px;height: 67px;
              background: url('../photo/icon/chat.png') no-repeat center;
            }
          }
        }
      }
    }
  }
  .team{
    .inner{
      .inner();
    }
    .text_wrap{
      position: relative;
      display: block;
      text-align: center;
      padding-top: 140px;
      span{
        display: block;
        text-align: center;
        font-size: 60px;
        line-height: 68px;
        font-weight: lighter;
        color:@font-main;
      }
      .line{
        width: 240px;height: 6px;
        margin: 60px auto 0;
        background-color: @line-gray;
      }
    }
    .player_list{
      padding: 60px 10px;
      overflow: hidden;
      li{
        width: 32%;
        float: left;
        margin: 10px 10px;
        text-align: center;
        position: relative;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &:hover{
          .player_info{
            display: block;
          }
        }
        .player_img{
          border: 1px #000 solid;
          margin: 0 10px;
          img{
            width: 100%;
          }
        }
        .player_info{
          display: none;
          position: absolute;
          top: 0;right: 10px;bottom: 0;left: 10px;
          background-color: rgba(0,0,0,0.3);
          overflow: hidden;
          text-align: center;
          &:before{
            content:"";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
          .sub_info{
            display: inline-block;
            vertical-align: middle;
            padding: 5px 10px;
            font-size: 0px;
            span{
              color:@font-white;
              font-size: 24px;
              text-transform: uppercase;
              display: inline-block;
              line-height: 1;
            }
            .name{
              display: block;
              font-size: 48px;
              line-height: 1;
              margin-bottom: 20px;
            }
            .position{
              margin-right: 20px;
            }
            .number{
              &:before{
                content:"no. "
              }
            }
          }
        }
      }
    }
  }
  .recruit{
    width: 100%;
    height: 230px;
    background: url('../photo/main_recruit01.jpg');
    margin-top: 140px;
    .inner{
      .inner();
      text-align: center;
      &:before{
        content:"";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      div{
        display: inline-block;
        vertical-align: middle;
      }
      span{
        font-size: 30px;
        // line-height: normal;
        font-weight: 300;
        color:@font-white;
        display: block;
        &:last-child{
          text-decoration: underline;
        }
      }
    }

  }
  .footer{
    width: 100%;height: 230px;
    background-color: rgba(0,0,0,0.2);
    .inner{
      .inner();
      text-align: center;
      &:before{
        content:"";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      >div{
        display: inline-block;
        vertical-align: middle;
      }
      i{
        display: inline-block;
        width: 25px;height: 25px;
        margin: 10px;
      }
      .facebook{
        background: url('../photo/icon/sns01.png') no-repeat center;
      }
      .google{
        background: url('../photo/icon/sns02.png') no-repeat center;
      }
      .twitter{
        background: url('../photo/icon/sns03.png') no-repeat center;
      }
      .youtube{
        background: url('../photo/icon/sns04.png') no-repeat center;
      }
    }

  }
}

// 공통 부분 media query
@media screen and (max-width:1200px){
  header{
    .nav{
      width: 120px;
      h1{
        width: 80px;
        margin: 50px auto 0;
        position:static;
      }
      ul{
        position: static;
        margin: 30px auto 0;
      }
      li{
        a{
          font-size: 15px;
        }
      }
    }
  }
  .content_wrap{
    margin-left: 120px;
    .match{
      height: 300px;
      .inner{
        width: 100%;
      }
      .text_wrap{
        span{
          font-size: 38px;
          line-height: 42px;
        }
        .sub{
          font-size: 24px;
        }
        .line{
          width: 200px;height: 4px;
          margin: 30px auto 0;
        }
      }
      .score{
        span{
          font-size: 24px;
        }
        .score_team{
          font-size: 60px;
          margin-top: 35px;
        }
      }
    }
    .news{
      .inner{
        width: 100%;
      }
      .text_wrap{
        padding-top: 70px;
        span{
          font-size: 38px;
          line-height: 1;
        }
        .line{
          width: 200px;height: 4px;
          margin: 30px auto 0;
        }
      }
    }
    .team{
      .inner{
        width: 100%;
      }
      .text_wrap{
        padding-top: 70px;
        span{
          font-size: 38px;
          line-height: 1;
        }
        .line{
          width: 200px;height: 4px;
          margin: 30px auto 0;
        }
      }
      .player_list{
        li{
          margin: 0;
        }
      }
    }
    .recruit{
      margin-top: 70px;
      .inner{
        width: 100%;
      }
    }
    .footer{
      .inner{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width:768px){
  header{
    position: static;
    text-align: center;
    .button{
      display: none;
    }
    .nav{
      position: static;
      width: 100%;height: 80px;

      h1{
        margin: 0 10px;
        height: 80px;
        float: left;

      }
      ul{
        margin: 0 auto;
        font-size: 0;
      }
      li{
        display: inline-block;
        margin: 0 15px;
        padding: 0;
        line-height: 80px;
      }
    }
  }
  .content_wrap{
    margin-left: 0;
    .main{
      .text_wrap{
        span{
          font-size: 42px;
          line-height: 50px;
        }
        .sub{
          font-size: 28px;
        }
        .line{
          width: 200px;height: 4px;
          margin-top: 40px;
        }
      }
    }
  }
}
@media screen and (max-width:580px){
  .content_wrap{
    .recruit{
      .inner{
        span{
          font-size: 24px;
          font-weight: 100;
        }
      }
    }
    .footer{
      .inner{
        span{
          font-size: 11px;
        }
      }
    }
  }
}


// nav, main 부분 상세 media query
@media screen and (max-width:580px){
  header{
    .nav{
      position: relative;
      ul{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        left:initial;
        margin: 0;
        width: 320px;height: auto;
        border: 1px @color-gray solid;
        background-color: @font-main;
      }
      li{
        display: block;
        line-height: 50px;
        border-bottom: 1px @color-gray solid;
        &:last-child{
          border-bottom: none;
        }
      }
      .hamburger{
        display: block;
      }
    }
  }
  .content_wrap{
    height: 500px;
    .main{
      li{
        height: 500px;
        background-size: auto 100%;
      }
      .main_intro2{
        background-position: -300px -560px;
      }
      .text_wrap{
        span{
          font-size: 32px;
          line-height: 40px;
        }
        .sub{
          font-size: 24px;
          letter-spacing: 28px;
          padding-left: 28px;
        }
        .line{
          width: 150px;height: 2px;
          margin-top: 30px;
        }
      }
    }
  }
}

//match 부분 상세 media query
@media screen and (max-width:630px){
  .content_wrap{
    .match{
      .text_wrap{
        span{
          font-size: 32px;
          line-height: 40px;
        }
        .sub{
          font-size: 24px;
          letter-spacing: 32px;
          padding-left: 32px;
        }
        .line{
          width: 150px;height: 2px;
        }
      }
      .score{
        span{
          font-size: 18px;
        }
        .score_team{
          font-size: 48px;
          margin-top: 30px;
        }
      }
    }
  }

}
@media screen and (max-width:580px){
  .content_wrap{
    .match{
      .text_wrap{
        .match{
          display: inline-block;
        }
      }
      .score{
        display: none;
      }
    }
  }
}

// news 부분 media query
@media screen and (max-width:1160px){
  .content_wrap{
    .news{
      .news_wrap{
        padding: 20px 10px;
        text-align: center;
        >div{
          display: inline-block;
          vertical-align: top;
          width: 350px;
        }
        .sec_left{
          float: none;
          .section{
            float: none;
            overflow: hidden;
            .date{
              width: auto;height: 20px;
              span{
                font-size: 12px;
                margin-right: 0;
              }
            }
            .title{
              width: 230px;height: 20px;
              span{
                font-size: 16px;
              }
            }
            .content{
              width: 250px;height: 85px;
              p{
                font-size: 14px;
                line-height: 22px;
                height: 85px;
              }
            }
            .reply{
              width: 50px;
              left: 10px;
              i{
                font-size: 18px;
                line-height: 45px;
                width: 50px;height: 47px;
                background-size: 100%;
              }
            }
          }
        }
        .sec_right{
          float: none;
          .section{
            float: none;
            overflow: hidden;
            .date{
              width: auto;height: 20px;
              margin-right: 0;
              span{
                font-size: 12px;
              }
            }
            .title{
              width: 230px;height: 20px;
              span{
                font-size: 16px;
              }
            }
            .content{
              width: 250px;height: 85px;
              p{
                font-size: 14px;
                line-height: 22px;
                height: 85px;
              }
            }
            .reply{
              width: 50px;
              right: 10px;
              i{
                font-size: 18px;
                line-height: 45px;
                width: 50px;height: 47px;
                background-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:862px){
  .content_wrap{
    .news{
      .news_wrap{
        padding: 20px 10px;
        text-align: center;
        >div{
          display: inline-block;
          vertical-align: top;
          width: 300px;
        }
        .sec_left{
          float: none;
          .section{
            float: none;
            overflow: hidden;
            padding: 5px;
            .date{
              width: auto;height: 20px;
              position: relative;
              top: 15px;
              span{
                font-size: 12px;
                margin-right: 0;
              }
            }
            .title{
              width: auto;height: 20px;
              span{
                font-size: 16px;
              }
            }
            .content{
              width: 200px;height: 85px;
              p{
                font-size: 14px;
                line-height: 22px;
                height: 85px;
              }
            }
            .reply{
              width: 50px;
              left: 10px;
              i{
                font-size: 18px;
                line-height: 45px;
                width: 50px;height: 47px;
                background-size: 100%;
              }
            }
          }
        }
        .sec_right{
          float: none;
          .section{
            float: none;
            overflow: hidden;
            padding: 5px;
            .date{
              width: auto;height: 20px;
              margin-right: 0;
              position: relative;
              top: 15px;
              span{
                font-size: 12px;
              }
            }
            .title{
              width: auto;height: 20px;
              span{
                font-size: 16px;
              }
            }
            .content{
              width: 200px;height: 85px;
              p{
                font-size: 14px;
                line-height: 22px;
                height: 85px;
              }
            }
            .reply{
              width: 50px;
              right: 10px;
              i{
                font-size: 18px;
                line-height: 45px;
                width: 50px;height: 47px;
                background-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:642px){
  .content_wrap{
    .news{
      .news_wrap{
        >div{
          width: 320px;
        }
        .sec_left{
          .section{
            border-bottom: 1px @font-main solid;
            &:last-child{
              margin-top: 30px;
            }
            .title{
              float: left;
            }
            .content{
              width: 260px;
              margin-right: 0;
            }
            .reply{
              left: 0;
            }
          }
        }
        .sec_right{
          padding-top: 30px;
          border-left: none;
          .section{
            border-bottom: 1px @font-main solid;
            &:last-child{
              margin-top: 30px;
            }
            .content{
              float: right;
              width: 260px;
              margin-right: 0;
            }
            .reply{
              left: 0;
            }
          }
        }
      }
    }
  }
}

//team 부분 상세 media query
@media screen and (max-width:862px){
  .content_wrap{
    .team{
      .player_list{
        li{
          .player_info{
            .sub_info{
              span{
                font-size: 18px;
              }
              .name{
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:580px){
  .content_wrap{
    .team{
      .player_list{
        text-align: center;
        li{
          display: inline-block;
          float: none;
          width: 300px;
          .player_info{
            display: block;
            top:initial;
            left:10px;
            right:10px;
            height: 40px;
            bottom: 0;
            .sub_info{
              span{
                font-size: 24px;
                position: absolute;
                top: 8px;
              }
              .name{
                font-size: 24px;
                display: inline-block;
                right: 30px;
              }
              .position{
                left: 30px;
              }
              .number{
                left: 100px;
              }
            }
          }
        }
      }
    }
  }
}
