*{margin: 0;padding: 0;}
a{text-decoration: none; color:#000;}
ol,ul{list-style: none;}
img{vertical-align: top;}
body{font-family: 'Noto Sans KR', sans-serif;}
html,body{height: 100%;overflow-x: hidden;}
button{background-color: rgba(0,0,0,0);border-style: none;border-color: none;cursor: pointer;}
legend{text-indent: -9999px;}
fieldset{border: none;}
