@import "import.less";

.wrapper{
  height: 100%;
}
.content_wrap{
  height: 100%;
  margin-left: 15.625%;
}
.team_intro{
  width: 100%;height: 50%;
  background: url('../photo/team01.jpg') no-repeat center;
  .inner{
    .inner();
    text-align: center;
    &:before{
      content:"";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  .text_wrap{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    >span{
      display: block;
      text-align: center;
      font-size: @intro_title;
      line-height: 68px;
      font-weight: lighter;
      color:@font-main;
    }
    .sub{
      position: relative;
      top:-20px;
      font-size: @sub_title;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 43.2px;
      color:@font-white;
    }
    .line{
      width: 240px;height: 6px;
      margin: 40px auto;
      background-color: @font-white;
    }
    .comment{
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color:@font-white;
    }
  }
}
.team_title{
  >div{
    padding-top: 140px;
  }
  .inner{
    .inner();
    text-align: center;
    &:before{
      content:"";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  .text_wrap{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    >span{
      display: block;
      text-align: center;
      font-size: @intro_title;
      line-height: 68px;
      font-weight: lighter;
      color:@font-main;
    }
    .sub{
      position: relative;
      top:-20px;
      font-size: @sub_title;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 43.2px;
      color:@color-gray;
    }
    .line{
      width: 240px;height: 6px;
      margin: 40px auto;
      background-color: @font-main;
    }
    .vertical_line{
      width: 2px;height: 100px;
      background-color: @font-main;
      margin: 0 auto 40px;
    }
  }
}
.team_menu{
  .inner{
    .inner();
    text-align: center;
  }
  ul{
    width: 1000px;
    font-size: 0px;
    border-bottom: 2px @font-main solid;
    text-align: left;
    margin:0 auto 40px;
  }
  li{
    display: inline-block;
    font-size: 24px;
    color:@font-main;
    padding: 10px;
    margin-left: 30px;
    cursor: pointer;
  }
}
.team_list{
  .inner{
    .inner();
    padding: 0 0 50px;
    font-size: 0px;
  }
  .player{
    width: 175px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 10px 30px;
    cursor: pointer;
    .player_img{
      width: 175px;height: 175px;
      border-radius: 10px;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .name{
      display: block;
      font-size: 32px;
      color: @font-main;
    }
    .position{
      display: inline-block;
      font-size: 24px;
      color: @color-gray;
      letter-spacing: 7px;
      text-transform: uppercase;
      position: relative;
      top: -15px;left: -5px;
    }
    .number{
      display: inline-block;
      font-size: 24px;
      color: @color-gray;
      letter-spacing: 7px;
      text-transform: uppercase;
      position: relative;
      top: -15px;left: 5px;
      &:before{
        content: "no."
      }
    }
  }
}

@media screen and (max-width:1200px){
  .content_wrap{
    margin-left: 120px;
  }
  .team_intro{
    height: 300px;
    .inner{
      width: 100%;
    }
    .text_wrap{
      >span{
        font-size: 38px;
        line-height: 42px;
      }
      .sub{
        top: -10px;
        font-size: 24px;
        letter-spacing: 32px;
        padding-left: 32px;
      }
      .line{
        width: 200px;height: 4px;
        margin: 30px auto;
      }
      .comment{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .team_title{
      >div{
        padding-top: 40px;
      }
      .inner{
        width: 100%;
      }
      .text_wrap{
        >span{
          font-size: 38px;
          line-height: 1;
        }
        .sub{
          top: -10px;
          font-size: 24px;
          letter-spacing: 32px;
          padding-left: 32px;
        }
        .line{
          width: 200px;height: 4px;
          margin: 30px auto 0;
        }
        .vertical_line{
          height: 70px;
          margin-bottom: 30px;
        }
      }
    }
  .team_menu{
    .inner{
      width: 100%;
    }
    ul{
      width: 95%;
    }
    li{
      font-size: 18px;
    }
  }
  .team_list{
    .inner{
      width: 100%;
      text-align: center;
    }
    ul{
      text-align: center;
    }
  }
}
@media screen and (max-width:768px){
  .content_wrap{
    margin-left: 0px;
  }
}
@media screen and (max-width:630px){
  .team_intro{
    .text_wrap{
      >span{
        font-size: 32px;
        line-height: 40px;
      }
      .line{
        width: 150px;height: 2px;
      }
    }
  }
  .team_menu{
    ul{
      text-align: center;
    }
    li{
      font-size: 14px;
      margin-left: 15px;
      padding: 10px 5px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .team_list{
    li{
      border-bottom: 1px @color-gray solid;
      &:last-child{
        border-bottom: none;
      }
    }
    .player{
      .name{
        font-size: 24px
      }
      .position,.number{
        font-size: 18px;
      }
    }
  }
}
