@import "reset.less";
@import "mixin.less";
@import "var.less";

header{
  height: 80px;width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
  .button{
    font-size: 0;
    line-height: 1;
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 30px;top: 31px;
    span{
      display: inline-block;
      font-size:16px;
      padding: 0 15px;
      color:#fff;
    }
    .login{
      border-right: 1px #fff solid;
    }
  }
  .nav{
    width: 15.625%;height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: @font-main;
    h1{
      text-indent: -9999px;
      width: 46.66666%;height: 100px;
      position: absolute;
      top: 100px;left: 27%;
      background: url('../photo/logo.png') no-repeat center;
      background-size: 100%;
    }
    ul{
      position: absolute;
      text-align: center;
      top: 35%;left: 0;right: 0;
      margin: auto;
    }
    li{
      padding: 10px 5px;
      a{
        font-size: 18px;
        color:@font-white;
      }
    }
    .hamburger{
      display: none;
      width: 26px;height: 26px;
      position: absolute;
      top: 27px;right: 27px;
      background: url('../photo/icon/menu01.png') no-repeat center;
      background-size: 100%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width:1200px){
  header{
    .nav{
      width: 120px;
      h1{
        width: 80px;
        margin: 50px auto 0;
        position:static;
      }
      ul{
        position: static;
        margin: 30px auto 0;
      }
      li{
        a{
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width:768px){
  header{
    position: static;
    text-align: center;
    .button{
      display: none;
    }
    .nav{
      position: static;
      width: 100%;height: 80px;

      h1{
        margin: 0 10px;
        height: 80px;
        float: left;

      }
      ul{
        margin: 0 auto;
        font-size: 0;
      }
      li{
        display: inline-block;
        margin: 0 15px;
        padding: 0;
        line-height: 80px;
      }
    }
  }
}
@media screen and (max-width:580px){
  header{
    .nav{
      position: relative;
      ul{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        left:initial;
        margin: 0;
        width: 100%;height: auto;
        border: 1px @color-gray solid;
        background-color: @font-main;
      }
      li{
        display: block;
        line-height: 50px;
        border-bottom: 1px @color-gray solid;
        &:last-child{
          border-bottom: none;
        }
      }
      .hamburger{
        display: block;
      }
    }
  }
}
