@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets\less\include\header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets\less\include\header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets\less\include\header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets\less\include\header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets\less\include\header.less */
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 34, assets\less\include\header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
/* line 41, assets\less\include\header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 47, assets\less\include\header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 49, assets\less\include\header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 6, assets\less\include\footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets\less\include\footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets\less\include\footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets\less\include\footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets\less\include\footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets\less\include\footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets\less\include\footer.less */
.content_wrap .footer .inner .google {
  background: url('../../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets\less\include\footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../../photo/icon/sns03.png') no-repeat center;
}
/* line 36, assets\less\include\footer.less */
.content_wrap .footer .inner .youtube {
  background: url('../../photo/icon/sns04.png') no-repeat center;
}
/* line 3, assets/less/club.less */
.wrapper {
  height: 100%;
}
/* line 5, assets/less/club.less */
.wrapper .content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 9, assets/less/club.less */
.wrapper .club_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/club01.png') no-repeat center;
}
/* line 12, assets/less/club.less */
.wrapper .club_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 15, assets/less/club.less */
.wrapper .club_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 22, assets/less/club.less */
.wrapper .club_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 26, assets/less/club.less */
.wrapper .club_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 34, assets/less/club.less */
.wrapper .club_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 44, assets/less/club.less */
.wrapper .club_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
/* line 49, assets/less/club.less */
.wrapper .club_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 58, assets/less/club.less */
.wrapper .club_content > div {
  padding-top: 140px;
}
/* line 61, assets/less/club.less */
.wrapper .club_content .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 64, assets/less/club.less */
.wrapper .club_content .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 71, assets/less/club.less */
.wrapper .club_content .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 75, assets/less/club.less */
.wrapper .club_content .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 83, assets/less/club.less */
.wrapper .club_content .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 93, assets/less/club.less */
.wrapper .club_content .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 99, assets/less/club.less */
.wrapper .club_content .club_uniform {
  text-align: center;
}
/* line 101, assets/less/club.less */
.wrapper .club_content .club_uniform .uniform {
  overflow: hidden;
  margin-top: 100px;
}
/* line 104, assets/less/club.less */
.wrapper .club_content .club_uniform .uniform div {
  width: 50%;
  float: left;
}
/* line 108, assets/less/club.less */
.wrapper .club_content .club_uniform .uniform img {
  display: block;
  margin: 0 auto;
}
/* line 112, assets/less/club.less */
.wrapper .club_content .club_uniform .uniform span {
  display: block;
  font-size: 36px;
  margin-top: 20px;
  color: #4a0001;
  text-transform: uppercase;
}
/* line 122, assets/less/club.less */
.wrapper .club_content .club_emblem .emblem {
  text-align: center;
  margin-top: 100px;
}
/* line 125, assets/less/club.less */
.wrapper .club_content .club_emblem .emblem img {
  display: block;
  margin: 0 auto;
}
/* line 132, assets/less/club.less */
.wrapper .club_content .club_stadium .stadium_img {
  margin: 40px 0;
}
/* line 135, assets/less/club.less */
.wrapper .club_content .club_stadium .stadium_info {
  margin-bottom: 40px;
}
/* line 137, assets/less/club.less */
.wrapper .club_content .club_stadium .stadium_info span {
  display: block;
  width: 750px;
  margin: 0 auto;
  font-size: 15px;
}
/* line 143, assets/less/club.less */
.wrapper .club_content .club_stadium .stadium_info .main {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
/* line 150, assets/less/club.less */
.wrapper .club_content .club_stadium .location span {
  text-align: center;
  display: block;
  font-size: 18px;
}
/* line 155, assets/less/club.less */
.wrapper .club_content .club_stadium .location .loca_info {
  font-size: 23px;
}
/* line 159, assets/less/club.less */
.wrapper .club_content .club_stadium .map {
  margin-top: 20px;
  width: 100%;
  height: 400px;
}
