@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets\less\include\header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets\less\include\header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets\less\include\header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets\less\include\header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets\less\include\header.less */
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #333;
}
/* line 34, assets\less\include\header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
/* line 42, assets\less\include\header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 48, assets\less\include\header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 50, assets\less\include\header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 55, assets\less\include\header.less */
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  /* line 69, assets\less\include\header.less */
  header .nav {
    width: 120px;
  }
  /* line 71, assets\less\include\header.less */
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  /* line 76, assets\less\include\header.less */
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  /* line 81, assets\less\include\header.less */
  header .nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 89, assets\less\include\header.less */
  header {
    position: static;
    text-align: center;
  }
  /* line 92, assets\less\include\header.less */
  header .button {
    display: none;
  }
  /* line 95, assets\less\include\header.less */
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  /* line 99, assets\less\include\header.less */
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  /* line 105, assets\less\include\header.less */
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  /* line 109, assets\less\include\header.less */
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
}
@media screen and (max-width: 580px) {
  /* line 120, assets\less\include\header.less */
  header .nav {
    position: relative;
  }
  /* line 122, assets\less\include\header.less */
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px #999999 solid;
    background-color: #333;
  }
  /* line 133, assets\less\include\header.less */
  header .nav li {
    display: block;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  /* line 137, assets\less\include\header.less */
  header .nav li:last-child {
    border-bottom: none;
  }
  /* line 141, assets\less\include\header.less */
  header .nav .hamburger {
    display: block;
  }
}
/* line 6, assets\less\include\footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets\less\include\footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets\less\include\footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets\less\include\footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets\less\include\footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets\less\include\footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets\less\include\footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets\less\include\footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 44, assets\less\include\footer.less */
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /* line 55, assets\less\include\footer.less */
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
/* line 3, assets/less/gellary.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/gellary.less */
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
}
/* line 10, assets/less/gellary.less */
.news_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/news001.jpg') no-repeat center;
}
/* line 13, assets/less/gellary.less */
.news_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 17, assets/less/gellary.less */
.news_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 24, assets/less/gellary.less */
.news_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 28, assets/less/gellary.less */
.news_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #fff;
}
/* line 36, assets/less/gellary.less */
.news_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #f90304;
}
/* line 47, assets/less/gellary.less */
.news_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #f90304;
}
/* line 52, assets/less/gellary.less */
.news_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 61, assets/less/gellary.less */
.news_title > div {
  padding-top: 140px;
}
/* line 64, assets/less/gellary.less */
.news_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 67, assets/less/gellary.less */
.news_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 74, assets/less/gellary.less */
.news_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 78, assets/less/gellary.less */
.news_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 86, assets/less/gellary.less */
.news_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #999999;
}
/* line 97, assets/less/gellary.less */
.news_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 102, assets/less/gellary.less */
.news_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
/* line 110, assets/less/gellary.less */
.news_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 114, assets/less/gellary.less */
.news_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
/* line 121, assets/less/gellary.less */
.news_menu li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  margin-left: 30px;
}
/* line 127, assets/less/gellary.less */
.news_menu li a {
  color: #4a0001;
}
/* line 133, assets/less/gellary.less */
.gellary_list .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 136, assets/less/gellary.less */
.gellary_list .inner ul {
  overflow: hidden;
  text-align: center;
}
/* line 140, assets/less/gellary.less */
.gellary_list .inner li {
  display: inline-block;
  margin: 0 10px 30px;
  width: 300px;
}
/* line 146, assets/less/gellary.less */
.gellary_list .gellary_img {
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}
/* line 149, assets/less/gellary.less */
.gellary_list .gellary_img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #4a0001;
}
/* line 155, assets/less/gellary.less */
.gellary_list .gellary_info {
  padding: 5px;
}
/* line 157, assets/less/gellary.less */
.gellary_list .gellary_info .gellary_title {
  display: block;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
  width: 100%;
}
/* line 164, assets/less/gellary.less */
.gellary_list .gellary_info .gellary_writer {
  display: inline-block;
  float: right;
  font-size: 13px;
  margin-right: 10px;
}
/* line 169, assets/less/gellary.less */
.gellary_list .gellary_info .gellary_writer:before {
  content: "by ";
}
/* line 173, assets/less/gellary.less */
.gellary_list .gellary_info .gellary_date {
  display: inline-block;
  float: right;
  font-size: 13px;
  text-align: right;
}
/* line 180, assets/less/gellary.less */
.gellary_list .search {
  display: inline-block;
  height: 40px;
  margin-top: 20px;
}
/* line 184, assets/less/gellary.less */
.gellary_list .search:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 190, assets/less/gellary.less */
.gellary_list .search input {
  vertical-align: middle;
}
/* line 192, assets/less/gellary.less */
.gellary_list .search input:first-child {
  width: 200px;
  height: 30px;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px #000 solid;
}
/* line 198, assets/less/gellary.less */
.gellary_list .search input:last-child {
  width: 40px;
  height: 36px;
  border: 1px #000 solid;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
/* line 206, assets/less/gellary.less */
.gellary_list .btn {
  text-align: center;
  margin: 50px 0;
}
/* line 209, assets/less/gellary.less */
.gellary_list .btn button {
  width: 120px;
  height: 40px;
  border: 1px #f90304 solid;
  border-radius: 5px;
  color: #f90304;
}
@media screen and (max-width: 1200px) {
  /* line 219, assets/less/gellary.less */
  .content_wrap {
    margin-left: 120px;
  }
  /* line 222, assets/less/gellary.less */
  .news_intro {
    height: 300px;
  }
  /* line 224, assets/less/gellary.less */
  .news_intro .inner {
    width: 100%;
  }
  /* line 228, assets/less/gellary.less */
  .news_intro .text_wrap > span {
    font-size: 38px;
    line-height: 42px;
  }
  /* line 232, assets/less/gellary.less */
  .news_intro .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  /* line 238, assets/less/gellary.less */
  .news_intro .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto;
  }
  /* line 245, assets/less/gellary.less */
  .news_title > div {
    padding-top: 40px;
  }
  /* line 248, assets/less/gellary.less */
  .news_title .inner {
    width: 100%;
  }
  /* line 252, assets/less/gellary.less */
  .news_title .text_wrap > span {
    font-size: 38px;
    line-height: 1;
  }
  /* line 256, assets/less/gellary.less */
  .news_title .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 24px;
    padding-left: 24px;
  }
  /* line 262, assets/less/gellary.less */
  .news_title .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  /* line 266, assets/less/gellary.less */
  .news_title .text_wrap .vertical_line {
    height: 70px;
    margin-bottom: 30px;
  }
  /* line 273, assets/less/gellary.less */
  .news_menu .inner {
    width: 100%;
  }
  /* line 276, assets/less/gellary.less */
  .news_menu ul {
    width: 95%;
  }
  /* line 279, assets/less/gellary.less */
  .news_menu li {
    font-size: 18px;
  }
  /* line 284, assets/less/gellary.less */
  .gellary_list .inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 290, assets/less/gellary.less */
  .content_wrap {
    margin-left: 0px;
  }
}
@media screen and (max-width: 660px) {
  /* line 297, assets/less/gellary.less */
  .news_intro .text_wrap > span {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 301, assets/less/gellary.less */
  .news_intro .text_wrap .line {
    width: 150px;
    height: 2px;
  }
  /* line 304, assets/less/gellary.less */
  .news_intro .text_wrap .vertical_line {
    height: 50px;
  }
  /* line 310, assets/less/gellary.less */
  .news_menu li {
    font-size: 14px;
    margin-left: 15px;
    padding: 10px 5px;
  }
  /* line 318, assets/less/gellary.less */
  .gellary_list .inner li {
    padding-bottom: 20px;
    border-bottom: 1px #999999 solid;
  }
  /* line 321, assets/less/gellary.less */
  .gellary_list .inner li:last-child {
    border-bottom: none;
  }
  /* line 326, assets/less/gellary.less */
  .gellary_list .btn {
    margin: 30px 0;
  }
  /* line 328, assets/less/gellary.less */
  .gellary_list .btn button {
    width: 100px;
    height: 30px;
  }
}
@media screen and (max-width: 460px) {
  /* line 336, assets/less/gellary.less */
  .news_menu li {
    text-align: center;
    width: 45%;
    margin-left: 0;
  }
}
