@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets/less/reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets/less/reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets/less/reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets/less/reset.less */
img {
  vertical-align: top;
}
/* line 5, assets/less/reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets/less/reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets/less/reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets/less/reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets/less/reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/include/header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets/less/include/header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets/less/include/header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets/less/include/header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets/less/include/header.less */
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 34, assets/less/include/header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
/* line 41, assets/less/include/header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 47, assets/less/include/header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 49, assets/less/include/header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 6, assets/less/include/footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets/less/include/footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets/less/include/footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets/less/include/footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets/less/include/footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets/less/include/footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets/less/include/footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets/less/include/footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
/* line 36, assets/less/include/footer.less */
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
/* line 3, assets/less/gellary_view.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/gellary_view.less */
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 10, assets/less/gellary_view.less */
.news_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/news01.png') no-repeat center;
}
/* line 13, assets/less/gellary_view.less */
.news_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 16, assets/less/gellary_view.less */
.news_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 23, assets/less/gellary_view.less */
.news_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 27, assets/less/gellary_view.less */
.news_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 35, assets/less/gellary_view.less */
.news_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 45, assets/less/gellary_view.less */
.news_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
/* line 50, assets/less/gellary_view.less */
.news_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 59, assets/less/gellary_view.less */
.news_title > div {
  padding-top: 140px;
}
/* line 62, assets/less/gellary_view.less */
.news_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 65, assets/less/gellary_view.less */
.news_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 72, assets/less/gellary_view.less */
.news_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 76, assets/less/gellary_view.less */
.news_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 84, assets/less/gellary_view.less */
.news_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 94, assets/less/gellary_view.less */
.news_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 99, assets/less/gellary_view.less */
.news_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
/* line 107, assets/less/gellary_view.less */
.news_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 111, assets/less/gellary_view.less */
.news_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
/* line 118, assets/less/gellary_view.less */
.news_menu li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  margin-left: 30px;
}
/* line 124, assets/less/gellary_view.less */
.news_menu li a {
  color: #4a0001;
}
/* line 129, assets/less/gellary_view.less */
.gellary_content {
  padding-bottom: 40px;
}
/* line 131, assets/less/gellary_view.less */
.gellary_content .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 134, assets/less/gellary_view.less */
.gellary_content .view_title {
  height: 80px;
  background-color: #4a0001;
  position: relative;
  margin-bottom: 40px;
}
/* line 139, assets/less/gellary_view.less */
.gellary_content .view_title > div {
  position: absolute;
}
/* line 142, assets/less/gellary_view.less */
.gellary_content .view_title .title_wrap {
  top: 10px;
  left: 30px;
}
/* line 145, assets/less/gellary_view.less */
.gellary_content .view_title .other_wrap {
  right: 30px;
  bottom: 10px;
}
/* line 148, assets/less/gellary_view.less */
.gellary_content .view_title span {
  color: #fff;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
/* line 154, assets/less/gellary_view.less */
.gellary_content .view_title .title {
  font-size: 32px;
}
/* line 157, assets/less/gellary_view.less */
.gellary_content .view_title .writer {
  font-size: 24px;
  margin-right: 50px;
}
/* line 161, assets/less/gellary_view.less */
.gellary_content .view_title .writer:before {
  content: "by ";
}
/* line 165, assets/less/gellary_view.less */
.gellary_content .view_title .date {
  font-size: 18px;
  margin-right: 30px;
}
/* line 168, assets/less/gellary_view.less */
.gellary_content .view_title .date:before {
  content: "작성일 : ";
}
/* line 172, assets/less/gellary_view.less */
.gellary_content .view_title .view {
  font-size: 18px;
}
/* line 174, assets/less/gellary_view.less */
.gellary_content .view_title .view:before {
  content: "조회수 : ";
}
/* line 179, assets/less/gellary_view.less */
.gellary_content .gellary_view {
  padding: 80px 20px 20px;
  text-align: center;
  position: relative;
}
/* line 184, assets/less/gellary_view.less */
.gellary_content .gellary_view .view li {
  display: inline-block;
  width: 130px;
  height: 130px;
  background-color: #4a0001;
  margin: 10px;
}
/* line 189, assets/less/gellary_view.less */
.gellary_content .gellary_view .view li img {
  width: 100%;
  height: 100%;
}
/* line 193, assets/less/gellary_view.less */
.gellary_content .gellary_view .view .main_img {
  display: block;
  width: 600px;
  height: 500px;
  margin: 0 auto 30px;
}
/* line 200, assets/less/gellary_view.less */
.gellary_content .gellary_view .img_btn button {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 30%;
}
/* line 205, assets/less/gellary_view.less */
.gellary_content .gellary_view .img_btn .next {
  background: url('../photo/icon/arrow02.png') no-repeat center;
  right: 10px;
}
/* line 209, assets/less/gellary_view.less */
.gellary_content .gellary_view .img_btn .prev {
  background: url('../photo/icon/arrow01.png') no-repeat center;
  left: 10px;
}
/* line 214, assets/less/gellary_view.less */
.gellary_content .gellary_view .view_btn {
  overflow: hidden;
  margin-top: 30px;
  padding: 10px 50px;
}
/* line 218, assets/less/gellary_view.less */
.gellary_content .gellary_view .view_btn .list_btn {
  float: left;
}
/* line 221, assets/less/gellary_view.less */
.gellary_content .gellary_view .view_btn .modi_btn {
  float: right;
}
/* line 224, assets/less/gellary_view.less */
.gellary_content .gellary_view .view_btn .modi_btn button:last-child {
  margin-right: 0;
}
/* line 229, assets/less/gellary_view.less */
.gellary_content .gellary_view .view_btn button {
  width: 100px;
  height: 30px;
  border: 1px #f90304 solid;
  border-radius: 10px;
  color: #f90304;
  margin: 5px;
}
/* line 237, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap {
  width: 924px;
  margin: 0 auto 50px;
  text-align: left;
}
/* line 241, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_line {
  border-bottom: 2px #4a0001 solid;
  margin-bottom: 20px;
}
/* line 244, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_line span {
  display: inline-block;
  font-size: 18px;
  color: #4a0001;
  padding: 10px 40px;
}
/* line 251, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_info {
  padding: 10px;
  position: relative;
  height: 150px;
}
/* line 255, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_info input {
  text-align: center;
  margin-bottom: 20px;
}
/* line 259, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_info .name,
.gellary_content .gellary_view .reply_wrap .reply_info .pw {
  width: 110px;
  height: 20px;
  border: none;
  margin-right: 20px;
  border-bottom: 1px #999999 solid;
}
/* line 265, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_info .comment {
  text-align: left;
  display: block;
  border: none;
  border-bottom: 1px #999999 solid;
  width: 750px;
  padding-left: 40px;
}
/* line 273, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_info .submit {
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #f90304 solid;
  border-radius: 10px;
  color: #f90304;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 284, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list li {
  position: relative;
  border-bottom: 1px #999999 solid;
}
/* line 288, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info {
  margin-bottom: 20px;
}
/* line 290, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info span {
  padding: 5px;
}
/* line 293, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info .name {
  font-size: 15px;
  margin-right: 10px;
}
/* line 297, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info .date {
  color: #999999;
}
/* line 301, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment {
  width: 850px;
  margin: 0 auto 15px;
}
/* line 304, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment p {
  color: #999999;
}
/* line 308, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn {
  position: absolute;
  top: 0;
  right: 55px;
}
/* line 311, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn button {
  padding: 5px;
}
/* line 314, assets/less/gellary_view.less */
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn .del {
  color: #f90304;
}
