@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 6, assets/less/index.less */
.wrapper {
  height: 100%;
}
/* line 9, assets/less/index.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 15, assets/less/index.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 22, assets/less/index.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 28, assets/less/index.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 32, assets/less/index.less */
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 38, assets/less/index.less */
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
/* line 46, assets/less/index.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 52, assets/less/index.less */
header .nav li {
  padding: 10px 5px;
}
/* line 54, assets/less/index.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 59, assets/less/index.less */
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
/* line 70, assets/less/index.less */
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
}
/* line 73, assets/less/index.less */
.content_wrap .main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 77, assets/less/index.less */
.content_wrap .main li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../photo/main_01.jpg) no-repeat center;
  text-align: center;
}
/* line 84, assets/less/index.less */
.content_wrap .main li:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 91, assets/less/index.less */
.content_wrap .main .text_wrap {
  display: inline-block;
  vertical-align: middle;
}
/* line 94, assets/less/index.less */
.content_wrap .main .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 102, assets/less/index.less */
.content_wrap .main .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #f90304;
}
/* line 113, assets/less/index.less */
.content_wrap .main .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #f90304;
}
/* line 119, assets/less/index.less */
.content_wrap .main .main_intro2 {
  display: none;
  background: url(../photo/main_03.jpg) no-repeat center;
}
/* line 123, assets/less/index.less */
.content_wrap .main .main_intro3 {
  display: none;
  background: url(../photo/main_02.jpg) no-repeat center;
}
/* line 128, assets/less/index.less */
.content_wrap .match {
  width: 100%;
  height: 540px;
  background: url('../photo/main_match.jpg') no-repeat center;
}
/* line 131, assets/less/index.less */
.content_wrap .match .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 135, assets/less/index.less */
.content_wrap .match .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 142, assets/less/index.less */
.content_wrap .match .text_wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 146, assets/less/index.less */
.content_wrap .match .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 154, assets/less/index.less */
.content_wrap .match .text_wrap .sub {
  position: relative;
  top: -15px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #f90304;
}
/* line 163, assets/less/index.less */
.content_wrap .match .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #f90304;
}
/* line 168, assets/less/index.less */
.content_wrap .match .text_wrap .match {
  display: none;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border: 1px #4a0001 solid;
  border-radius: 10px;
  color: #4a0001;
}
/* line 178, assets/less/index.less */
.content_wrap .match .score div {
  width: 200px;
  font-size: 0;
  position: absolute;
  top: 100px;
}
/* line 184, assets/less/index.less */
.content_wrap .match .score span {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: block;
  vertical-align: middle;
}
/* line 193, assets/less/index.less */
.content_wrap .match .score .score_team {
  font-size: 200px;
  margin-top: 50px;
}
/* line 197, assets/less/index.less */
.content_wrap .match .score .first_team {
  left: 15px;
}
/* line 200, assets/less/index.less */
.content_wrap .match .score .second_team {
  right: 15px;
}
/* line 206, assets/less/index.less */
.content_wrap .news .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 209, assets/less/index.less */
.content_wrap .news .text_wrap {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 140px;
}
/* line 214, assets/less/index.less */
.content_wrap .news .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 222, assets/less/index.less */
.content_wrap .news .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #e0e0e0;
}
/* line 228, assets/less/index.less */
.content_wrap .news .news_wrap {
  height: 100%;
  padding: 40px 15px;
  overflow: hidden;
}
/* line 232, assets/less/index.less */
.content_wrap .news .news_wrap > div {
  width: 496px;
}
/* line 235, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left {
  float: left;
}
/* line 237, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section {
  position: relative;
  float: right;
  padding: 10px;
}
/* line 241, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section:last-child {
  margin-top: 60px;
}
/* line 244, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title_img {
  float: right;
  margin-bottom: 20px;
}
/* line 248, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .date {
  width: 100px;
  height: 25px;
  float: right;
  display: inline-block;
  text-align: right;
}
/* line 253, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .date span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  margin-right: 10px;
}
/* line 262, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title {
  float: right;
  width: 300px;
  height: 25px;
  vertical-align: middle;
}
/* line 266, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title span {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
/* line 273, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .content {
  float: right;
  width: 380px;
  height: 100px;
  margin: 20px 10px;
}
/* line 277, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .content p {
  display: block;
  font-size: 16px;
  line-height: 26px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
/* line 287, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .reply {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 97px;
  text-align: center;
}
/* line 292, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .reply i {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  width: 70px;
  height: 67px;
  background: url('../photo/icon/chat.png') no-repeat center;
}
/* line 303, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right {
  float: right;
  border-left: 2px #e0e0e0 solid;
  padding-top: 70px;
}
/* line 307, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section {
  position: relative;
  float: left;
  padding: 10px;
}
/* line 311, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section:last-child {
  margin-top: 60px;
}
/* line 314, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title_img {
  float: left;
  margin-bottom: 20px;
}
/* line 318, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .date {
  clear: left;
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 25px;
  display: inline-block;
  text-align: left;
}
/* line 325, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .date span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
}
/* line 333, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title {
  float: left;
  width: 300px;
  height: 25px;
  vertical-align: middle;
}
/* line 337, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title span {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
/* line 344, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .content {
  float: left;
  width: 380px;
  height: 100px;
  margin: 20px 10px;
}
/* line 348, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .content p {
  display: block;
  font-size: 16px;
  line-height: 26px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
/* line 358, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .reply {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 97px;
  text-align: center;
}
/* line 363, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .reply i {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  width: 70px;
  height: 67px;
  background: url('../photo/icon/chat.png') no-repeat center;
}
/* line 377, assets/less/index.less */
.content_wrap .team .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 380, assets/less/index.less */
.content_wrap .team .text_wrap {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 140px;
}
/* line 385, assets/less/index.less */
.content_wrap .team .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 393, assets/less/index.less */
.content_wrap .team .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #e0e0e0;
}
/* line 399, assets/less/index.less */
.content_wrap .team .player_list {
  padding: 60px 10px;
  overflow: hidden;
}
/* line 402, assets/less/index.less */
.content_wrap .team .player_list li {
  width: 32%;
  float: left;
  margin: 10px 10px;
  text-align: center;
  position: relative;
}
/* line 408, assets/less/index.less */
.content_wrap .team .player_list li:first-child {
  margin-left: 0;
}
/* line 411, assets/less/index.less */
.content_wrap .team .player_list li:last-child {
  margin-right: 0;
}
/* line 415, assets/less/index.less */
.content_wrap .team .player_list li:hover .player_info {
  display: block;
}
/* line 419, assets/less/index.less */
.content_wrap .team .player_list li .player_img {
  border: 1px #000 solid;
  margin: 0 10px;
}
/* line 422, assets/less/index.less */
.content_wrap .team .player_list li .player_img img {
  width: 100%;
}
/* line 426, assets/less/index.less */
.content_wrap .team .player_list li .player_info {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
}
/* line 433, assets/less/index.less */
.content_wrap .team .player_list li .player_info:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 439, assets/less/index.less */
.content_wrap .team .player_list li .player_info .sub_info {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  font-size: 0px;
}
/* line 444, assets/less/index.less */
.content_wrap .team .player_list li .player_info .sub_info span {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}
/* line 451, assets/less/index.less */
.content_wrap .team .player_list li .player_info .sub_info .name {
  display: block;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}
/* line 457, assets/less/index.less */
.content_wrap .team .player_list li .player_info .sub_info .position {
  margin-right: 20px;
}
/* line 461, assets/less/index.less */
.content_wrap .team .player_list li .player_info .sub_info .number:before {
  content: "no. ";
}
/* line 470, assets/less/index.less */
.content_wrap .recruit {
  width: 100%;
  height: 230px;
  background: url('../photo/main_recruit01.jpg');
  margin-top: 140px;
}
/* line 475, assets/less/index.less */
.content_wrap .recruit .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 478, assets/less/index.less */
.content_wrap .recruit .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 484, assets/less/index.less */
.content_wrap .recruit .inner div {
  display: inline-block;
  vertical-align: middle;
}
/* line 488, assets/less/index.less */
.content_wrap .recruit .inner span {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  display: block;
}
/* line 494, assets/less/index.less */
.content_wrap .recruit .inner span:last-child {
  text-decoration: underline;
}
/* line 501, assets/less/index.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 504, assets/less/index.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 507, assets/less/index.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 513, assets/less/index.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 517, assets/less/index.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 522, assets/less/index.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 525, assets/less/index.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 528, assets/less/index.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
/* line 531, assets/less/index.less */
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 542, assets/less/index.less */
  header .nav {
    width: 120px;
  }
  /* line 544, assets/less/index.less */
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  /* line 549, assets/less/index.less */
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  /* line 554, assets/less/index.less */
  header .nav li a {
    font-size: 15px;
  }
  /* line 560, assets/less/index.less */
  .content_wrap {
    margin-left: 120px;
  }
  /* line 562, assets/less/index.less */
  .content_wrap .match {
    height: 300px;
  }
  /* line 564, assets/less/index.less */
  .content_wrap .match .inner {
    width: 100%;
  }
  /* line 568, assets/less/index.less */
  .content_wrap .match .text_wrap span {
    font-size: 38px;
    line-height: 42px;
  }
  /* line 572, assets/less/index.less */
  .content_wrap .match .text_wrap .sub {
    font-size: 24px;
  }
  /* line 575, assets/less/index.less */
  .content_wrap .match .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  /* line 581, assets/less/index.less */
  .content_wrap .match .score span {
    font-size: 24px;
  }
  /* line 584, assets/less/index.less */
  .content_wrap .match .score .score_team {
    font-size: 60px;
    margin-top: 35px;
  }
  /* line 591, assets/less/index.less */
  .content_wrap .news .inner {
    width: 100%;
  }
  /* line 594, assets/less/index.less */
  .content_wrap .news .text_wrap {
    padding-top: 70px;
  }
  /* line 596, assets/less/index.less */
  .content_wrap .news .text_wrap span {
    font-size: 38px;
    line-height: 1;
  }
  /* line 600, assets/less/index.less */
  .content_wrap .news .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  /* line 607, assets/less/index.less */
  .content_wrap .team .inner {
    width: 100%;
  }
  /* line 610, assets/less/index.less */
  .content_wrap .team .text_wrap {
    padding-top: 70px;
  }
  /* line 612, assets/less/index.less */
  .content_wrap .team .text_wrap span {
    font-size: 38px;
    line-height: 1;
  }
  /* line 616, assets/less/index.less */
  .content_wrap .team .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  /* line 622, assets/less/index.less */
  .content_wrap .team .player_list li {
    margin: 0;
  }
  /* line 627, assets/less/index.less */
  .content_wrap .recruit {
    margin-top: 70px;
  }
  /* line 629, assets/less/index.less */
  .content_wrap .recruit .inner {
    width: 100%;
  }
  /* line 634, assets/less/index.less */
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 641, assets/less/index.less */
  header {
    position: static;
    text-align: center;
  }
  /* line 644, assets/less/index.less */
  header .button {
    display: none;
  }
  /* line 647, assets/less/index.less */
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  /* line 651, assets/less/index.less */
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  /* line 657, assets/less/index.less */
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  /* line 661, assets/less/index.less */
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
  /* line 669, assets/less/index.less */
  .content_wrap {
    margin-left: 0;
  }
  /* line 673, assets/less/index.less */
  .content_wrap .main .text_wrap span {
    font-size: 42px;
    line-height: 50px;
  }
  /* line 677, assets/less/index.less */
  .content_wrap .main .text_wrap .sub {
    font-size: 28px;
  }
  /* line 680, assets/less/index.less */
  .content_wrap .main .text_wrap .line {
    width: 200px;
    height: 4px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 580px) {
  /* line 692, assets/less/index.less */
  .content_wrap .recruit .inner span {
    font-size: 24px;
    font-weight: 100;
  }
  /* line 700, assets/less/index.less */
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
@media screen and (max-width: 580px) {
  /* line 712, assets/less/index.less */
  header .nav {
    position: relative;
  }
  /* line 714, assets/less/index.less */
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px #999999 solid;
    background-color: #4a0001;
  }
  /* line 726, assets/less/index.less */
  header .nav li {
    display: block;
    width: 300px;
    margin: 5px auto;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  /* line 732, assets/less/index.less */
  header .nav li:last-child {
    border-bottom: none;
  }
  /* line 736, assets/less/index.less */
  header .nav .hamburger {
    display: block;
  }
  /* line 741, assets/less/index.less */
  .content_wrap {
    height: 500px;
  }
  /* line 744, assets/less/index.less */
  .content_wrap .main li {
    height: 500px;
    background-size: auto 100%;
  }
  /* line 748, assets/less/index.less */
  .content_wrap .main .main_intro2 {
    background-position: -300px -560px;
  }
  /* line 752, assets/less/index.less */
  .content_wrap .main .text_wrap span {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 756, assets/less/index.less */
  .content_wrap .main .text_wrap .sub {
    font-size: 24px;
    letter-spacing: 28px;
    padding-left: 28px;
  }
  /* line 761, assets/less/index.less */
  .content_wrap .main .text_wrap .line {
    width: 150px;
    height: 2px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 630px) {
  /* line 775, assets/less/index.less */
  .content_wrap .match .text_wrap span {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 779, assets/less/index.less */
  .content_wrap .match .text_wrap .sub {
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  /* line 784, assets/less/index.less */
  .content_wrap .match .text_wrap .line {
    width: 150px;
    height: 2px;
  }
  /* line 789, assets/less/index.less */
  .content_wrap .match .score span {
    font-size: 18px;
  }
  /* line 792, assets/less/index.less */
  .content_wrap .match .score .score_team {
    font-size: 48px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 580px) {
  /* line 805, assets/less/index.less */
  .content_wrap .match .text_wrap .match {
    display: inline-block;
  }
  /* line 809, assets/less/index.less */
  .content_wrap .match .score {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  /* line 820, assets/less/index.less */
  .content_wrap .news .news_wrap {
    padding: 20px 10px;
    text-align: center;
  }
  /* line 823, assets/less/index.less */
  .content_wrap .news .news_wrap > div {
    display: inline-block;
    vertical-align: top;
    width: 350px;
  }
  /* line 828, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left {
    float: none;
  }
  /* line 830, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section {
    float: none;
    overflow: hidden;
  }
  /* line 833, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .date {
    width: auto;
    height: 20px;
  }
  /* line 835, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .date span {
    font-size: 12px;
    margin-right: 0;
  }
  /* line 840, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .title {
    width: 230px;
    height: 20px;
  }
  /* line 842, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .title span {
    font-size: 16px;
  }
  /* line 846, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .content {
    width: 250px;
    height: 85px;
  }
  /* line 848, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .content p {
    font-size: 14px;
    line-height: 22px;
    height: 85px;
  }
  /* line 854, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .reply {
    width: 50px;
    left: 10px;
  }
  /* line 857, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .reply i {
    font-size: 18px;
    line-height: 45px;
    width: 50px;
    height: 47px;
    background-size: 100%;
  }
  /* line 866, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right {
    float: none;
  }
  /* line 868, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section {
    float: none;
    overflow: hidden;
  }
  /* line 871, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .date {
    width: auto;
    height: 20px;
    margin-right: 0;
  }
  /* line 874, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .date span {
    font-size: 12px;
  }
  /* line 878, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .title {
    width: 230px;
    height: 20px;
  }
  /* line 880, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .title span {
    font-size: 16px;
  }
  /* line 884, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .content {
    width: 250px;
    height: 85px;
  }
  /* line 886, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .content p {
    font-size: 14px;
    line-height: 22px;
    height: 85px;
  }
  /* line 892, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .reply {
    width: 50px;
    right: 10px;
  }
  /* line 895, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .reply i {
    font-size: 18px;
    line-height: 45px;
    width: 50px;
    height: 47px;
    background-size: 100%;
  }
}
@media screen and (max-width: 862px) {
  /* line 911, assets/less/index.less */
  .content_wrap .news .news_wrap {
    padding: 20px 10px;
    text-align: center;
  }
  /* line 914, assets/less/index.less */
  .content_wrap .news .news_wrap > div {
    display: inline-block;
    vertical-align: top;
    width: 300px;
  }
  /* line 919, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left {
    float: none;
  }
  /* line 921, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section {
    float: none;
    overflow: hidden;
    padding: 5px;
  }
  /* line 925, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .date {
    width: auto;
    height: 20px;
    position: relative;
    top: 15px;
  }
  /* line 929, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .date span {
    font-size: 12px;
    margin-right: 0;
  }
  /* line 934, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .title {
    width: auto;
    height: 20px;
  }
  /* line 936, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .title span {
    font-size: 16px;
  }
  /* line 940, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .content {
    width: 200px;
    height: 85px;
  }
  /* line 942, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .content p {
    font-size: 14px;
    line-height: 22px;
    height: 85px;
  }
  /* line 948, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .reply {
    width: 50px;
    left: 10px;
  }
  /* line 951, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .reply i {
    font-size: 18px;
    line-height: 45px;
    width: 50px;
    height: 47px;
    background-size: 100%;
  }
  /* line 960, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right {
    float: none;
  }
  /* line 962, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section {
    float: none;
    overflow: hidden;
    padding: 5px;
  }
  /* line 966, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .date {
    width: auto;
    height: 20px;
    margin-right: 0;
    position: relative;
    top: 15px;
  }
  /* line 971, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .date span {
    font-size: 12px;
  }
  /* line 975, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .title {
    width: auto;
    height: 20px;
  }
  /* line 977, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .title span {
    font-size: 16px;
  }
  /* line 981, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .content {
    width: 200px;
    height: 85px;
  }
  /* line 983, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .content p {
    font-size: 14px;
    line-height: 22px;
    height: 85px;
  }
  /* line 989, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .reply {
    width: 50px;
    right: 10px;
  }
  /* line 992, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .reply i {
    font-size: 18px;
    line-height: 45px;
    width: 50px;
    height: 47px;
    background-size: 100%;
  }
}
@media screen and (max-width: 642px) {
  /* line 1009, assets/less/index.less */
  .content_wrap .news .news_wrap > div {
    width: 320px;
  }
  /* line 1013, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section {
    border-bottom: 1px #4a0001 solid;
  }
  /* line 1015, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section:last-child {
    margin-top: 30px;
  }
  /* line 1018, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .title {
    float: left;
  }
  /* line 1021, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .content {
    width: 260px;
    margin-right: 0;
  }
  /* line 1025, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_left .section .reply {
    left: 0;
  }
  /* line 1030, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right {
    padding-top: 30px;
    border-left: none;
  }
  /* line 1033, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section {
    border-bottom: 1px #4a0001 solid;
  }
  /* line 1035, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section:last-child {
    margin-top: 30px;
  }
  /* line 1038, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .content {
    float: right;
    width: 260px;
    margin-right: 0;
  }
  /* line 1043, assets/less/index.less */
  .content_wrap .news .news_wrap .sec_right .section .reply {
    left: 0;
  }
}
@media screen and (max-width: 862px) {
  /* line 1061, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info span {
    font-size: 18px;
  }
  /* line 1064, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info .name {
    font-size: 32px;
  }
}
@media screen and (max-width: 580px) {
  /* line 1077, assets/less/index.less */
  .content_wrap .team .player_list {
    text-align: center;
  }
  /* line 1079, assets/less/index.less */
  .content_wrap .team .player_list li {
    display: inline-block;
    float: none;
    width: 300px;
  }
  /* line 1083, assets/less/index.less */
  .content_wrap .team .player_list li .player_info {
    display: block;
    top: initial;
    left: 10px;
    right: 10px;
    height: 40px;
    bottom: 0;
  }
  /* line 1091, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info span {
    font-size: 24px;
    position: absolute;
    top: 8px;
  }
  /* line 1096, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info .name {
    font-size: 24px;
    display: inline-block;
    right: 30px;
  }
  /* line 1101, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info .position {
    left: 30px;
  }
  /* line 1104, assets/less/index.less */
  .content_wrap .team .player_list li .player_info .sub_info .number {
    left: 100px;
  }
}
