/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'NotoSansCJKkr';
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/index.less */
.wrapper {
  height: 100%;
}
/* line 8, assets/less/index.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 14, assets/less/index.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 21, assets/less/index.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 27, assets/less/index.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 31, assets/less/index.less */
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #f00;
}
/* line 37, assets/less/index.less */
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
/* line 44, assets/less/index.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 50, assets/less/index.less */
header .nav li {
  padding: 10px 5px;
}
/* line 52, assets/less/index.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 59, assets/less/index.less */
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 62, assets/less/index.less */
.content_wrap .main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 66, assets/less/index.less */
.content_wrap .main li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../photo/main_01.png) no-repeat center;
  background-size: 100%;
  text-align: center;
}
/* line 74, assets/less/index.less */
.content_wrap .main li:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 81, assets/less/index.less */
.content_wrap .main .text_wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 85, assets/less/index.less */
.content_wrap .main .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 93, assets/less/index.less */
.content_wrap .main .text_wrap .sub {
  position: absolute;
  top: 120px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #f90304;
}
/* line 103, assets/less/index.less */
.content_wrap .main .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #f90304;
}
/* line 110, assets/less/index.less */
.content_wrap .match {
  width: 100%;
  height: 540px;
  background: url('../../photo/main_match.png') no-repeat center;
}
/* line 113, assets/less/index.less */
.content_wrap .match .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 117, assets/less/index.less */
.content_wrap .match .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 124, assets/less/index.less */
.content_wrap .match .text_wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 128, assets/less/index.less */
.content_wrap .match .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 136, assets/less/index.less */
.content_wrap .match .text_wrap .sub {
  position: absolute;
  top: 120px;
  left: 45px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #f90304;
}
/* line 146, assets/less/index.less */
.content_wrap .match .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #f90304;
}
/* line 153, assets/less/index.less */
.content_wrap .match .score div {
  width: 200px;
  font-size: 0;
  position: absolute;
  top: 100px;
}
/* line 159, assets/less/index.less */
.content_wrap .match .score span {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: block;
  vertical-align: middle;
}
/* line 168, assets/less/index.less */
.content_wrap .match .score .score_team {
  font-size: 200px;
  margin-top: 50px;
}
/* line 172, assets/less/index.less */
.content_wrap .match .score .first_team {
  left: 15px;
}
/* line 175, assets/less/index.less */
.content_wrap .match .score .second_team {
  right: 15px;
}
/* line 181, assets/less/index.less */
.content_wrap .news .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 184, assets/less/index.less */
.content_wrap .news .text_wrap {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 140px;
}
/* line 189, assets/less/index.less */
.content_wrap .news .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 197, assets/less/index.less */
.content_wrap .news .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #e0e0e0;
}
/* line 203, assets/less/index.less */
.content_wrap .news .news_wrap {
  height: 100%;
  padding: 40px 15px;
  overflow: hidden;
}
/* line 207, assets/less/index.less */
.content_wrap .news .news_wrap > div {
  width: 496px;
}
/* line 210, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left {
  float: left;
}
/* line 212, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section {
  position: relative;
  float: right;
  padding: 10px;
}
/* line 216, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section:last-child {
  margin-top: 60px;
}
/* line 219, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title_img {
  float: right;
  margin-bottom: 20px;
}
/* line 223, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .date {
  width: 100px;
  height: 25px;
  float: right;
  display: inline-block;
  text-align: right;
}
/* line 228, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .date span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  margin-right: 10px;
}
/* line 237, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title {
  float: right;
  width: 300px;
  height: 25px;
  vertical-align: middle;
}
/* line 241, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .title span {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
/* line 248, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .content {
  float: right;
  width: 380px;
  height: 100px;
  margin: 20px 10px;
}
/* line 252, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .content p {
  display: block;
  font-size: 16px;
  line-height: 26px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
/* line 262, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .reply {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 97px;
  text-align: center;
}
/* line 267, assets/less/index.less */
.content_wrap .news .news_wrap .sec_left .section .reply i {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  width: 70px;
  height: 67px;
  background: url('../../photo/icon/chat.png') no-repeat center;
}
/* line 278, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right {
  float: right;
  border-left: 2px #e0e0e0 solid;
  padding-top: 70px;
}
/* line 282, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section {
  position: relative;
  float: left;
  padding: 10px;
}
/* line 286, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section:last-child {
  margin-top: 60px;
}
/* line 289, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title_img {
  float: left;
  margin-bottom: 20px;
}
/* line 293, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .date {
  clear: left;
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 25px;
  display: inline-block;
  text-align: left;
}
/* line 300, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .date span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
}
/* line 308, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title {
  float: left;
  width: 300px;
  height: 25px;
  vertical-align: middle;
}
/* line 312, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .title span {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
/* line 319, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .content {
  float: left;
  width: 380px;
  height: 100px;
  margin: 20px 10px;
}
/* line 323, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .content p {
  display: block;
  font-size: 16px;
  line-height: 26px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
/* line 333, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .reply {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 97px;
  text-align: center;
}
/* line 338, assets/less/index.less */
.content_wrap .news .news_wrap .sec_right .section .reply i {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  width: 70px;
  height: 67px;
  background: url('../../photo/icon/chat.png') no-repeat center;
}
/* line 352, assets/less/index.less */
.content_wrap .team .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 355, assets/less/index.less */
.content_wrap .team .text_wrap {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 140px;
}
/* line 360, assets/less/index.less */
.content_wrap .team .text_wrap span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 368, assets/less/index.less */
.content_wrap .team .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 60px auto 0;
  background-color: #e0e0e0;
}
/* line 374, assets/less/index.less */
.content_wrap .team .player_list {
  padding: 60px 10px;
  overflow: hidden;
}
/* line 377, assets/less/index.less */
.content_wrap .team .player_list li {
  width: 320px;
  height: 320px;
  float: left;
  margin: 10px 10px;
}
/* line 381, assets/less/index.less */
.content_wrap .team .player_list li:first-child {
  margin-left: 0;
}
/* line 384, assets/less/index.less */
.content_wrap .team .player_list li:last-child {
  margin-right: 0;
}
/* line 387, assets/less/index.less */
.content_wrap .team .player_list li .player_info {
  padding: 10px 0;
  overflow: hidden;
}
/* line 391, assets/less/index.less */
.content_wrap .team .player_list li .name {
  float: right;
  font-size: 48px;
  line-height: 1;
}
/* line 396, assets/less/index.less */
.content_wrap .team .player_list li .sub_info {
  float: right;
  text-align: right;
  padding: 5px 10px;
}
/* line 400, assets/less/index.less */
.content_wrap .team .player_list li .sub_info span {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  line-height: 1;
}
/* line 410, assets/less/index.less */
.content_wrap .recruit {
  width: 100%;
  height: 230px;
  background-color: #4a0001;
  margin-top: 140px;
}
/* line 415, assets/less/index.less */
.content_wrap .recruit .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 418, assets/less/index.less */
.content_wrap .recruit .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 424, assets/less/index.less */
.content_wrap .recruit .inner div {
  display: inline-block;
  vertical-align: middle;
}
/* line 428, assets/less/index.less */
.content_wrap .recruit .inner span {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  display: block;
}
/* line 434, assets/less/index.less */
.content_wrap .recruit .inner span:last-child {
  text-decoration: underline;
}
/* line 441, assets/less/index.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
}
/* line 443, assets/less/index.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 446, assets/less/index.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 452, assets/less/index.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 456, assets/less/index.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 461, assets/less/index.less */
.content_wrap .footer .inner .facebook {
  background: url('../../photo/icon/sns01.png') no-repeat center;
}
/* line 464, assets/less/index.less */
.content_wrap .footer .inner .google {
  background: url('../../photo/icon/sns02.png') no-repeat center;
}
/* line 467, assets/less/index.less */
.content_wrap .footer .inner .twitter {
  background: url('../../photo/icon/sns03.png') no-repeat center;
}
/* line 470, assets/less/index.less */
.content_wrap .footer .inner .youtube {
  background: url('../../photo/icon/sns04.png') no-repeat center;
}
/* line 476, assets/less/index.less */
.content_wrap .map {
  width: 100%;
  height: 600px;
}
