@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets\less\include\header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets\less\include\header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets\less\include\header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets\less\include\header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets\less\include\header.less */
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #333;
}
/* line 34, assets\less\include\header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
/* line 42, assets\less\include\header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 48, assets\less\include\header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 50, assets\less\include\header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 55, assets\less\include\header.less */
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  /* line 69, assets\less\include\header.less */
  header .nav {
    width: 120px;
  }
  /* line 71, assets\less\include\header.less */
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  /* line 76, assets\less\include\header.less */
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  /* line 81, assets\less\include\header.less */
  header .nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 89, assets\less\include\header.less */
  header {
    position: static;
    text-align: center;
  }
  /* line 92, assets\less\include\header.less */
  header .button {
    display: none;
  }
  /* line 95, assets\less\include\header.less */
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  /* line 99, assets\less\include\header.less */
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  /* line 105, assets\less\include\header.less */
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  /* line 109, assets\less\include\header.less */
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
}
@media screen and (max-width: 580px) {
  /* line 120, assets\less\include\header.less */
  header .nav {
    position: relative;
  }
  /* line 122, assets\less\include\header.less */
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px #999999 solid;
    background-color: #4a0001;
  }
  /* line 133, assets\less\include\header.less */
  header .nav li {
    display: block;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  /* line 137, assets\less\include\header.less */
  header .nav li:last-child {
    border-bottom: none;
  }
  /* line 141, assets\less\include\header.less */
  header .nav .hamburger {
    display: block;
  }
}
/* line 6, assets\less\include\footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets\less\include\footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets\less\include\footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets\less\include\footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets\less\include\footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets\less\include\footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets\less\include\footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets\less\include\footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 44, assets\less\include\footer.less */
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /* line 55, assets\less\include\footer.less */
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
/* line 3, assets/less/match_view.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/match_view.less */
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
}
/* line 10, assets/less/match_view.less */
.match_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/match01.jpg') no-repeat center;
}
/* line 13, assets/less/match_view.less */
.match_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 16, assets/less/match_view.less */
.match_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 23, assets/less/match_view.less */
.match_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 27, assets/less/match_view.less */
.match_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #fff;
}
/* line 35, assets/less/match_view.less */
.match_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #f90304;
}
/* line 46, assets/less/match_view.less */
.match_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #f90304;
}
/* line 51, assets/less/match_view.less */
.match_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 59, assets/less/match_view.less */
.match_info {
  margin-top: 65px;
  text-align: center;
}
/* line 62, assets/less/match_view.less */
.match_info .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 64, assets/less/match_view.less */
.match_info .inner > div {
  margin: 10px 0;
}
/* line 69, assets/less/match_view.less */
.match_info .match_date span {
  font-size: 38px;
}
/* line 74, assets/less/match_view.less */
.match_info .match_status span {
  font-size: 32px;
  color: #f90304;
}
/* line 80, assets/less/match_view.less */
.match_info .match_stadium span {
  font-size: 32px;
}
/* line 84, assets/less/match_view.less */
.match_info .match_team {
  font-size: 0px;
}
/* line 86, assets/less/match_view.less */
.match_info .match_team div {
  display: inline-block;
  padding: 10px 30px;
}
/* line 90, assets/less/match_view.less */
.match_info .match_team .name {
  font-size: 32px;
  padding: 20px 10px;
  color: #4a0001;
  display: inline-block;
  vertical-align: middle;
}
/* line 97, assets/less/match_view.less */
.match_info .match_team .score {
  font-size: 72px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 105, assets/less/match_view.less */
.match_info .match_team .first_team img {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  margin-right: 20px;
}
/* line 113, assets/less/match_view.less */
.match_info .match_team .second_team img {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  margin-left: 20px;
}
/* line 121, assets/less/match_view.less */
.match_info .line {
  display: block;
  width: 240px;
  height: 6px;
  margin: 50px auto;
  background-color: #f90304;
}
/* line 129, assets/less/match_view.less */
.record_detail .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 132, assets/less/match_view.less */
.record_detail .record {
  padding: 15px 0;
  position: relative;
  text-align: center;
}
/* line 136, assets/less/match_view.less */
.record_detail .record span {
  font-size: 32px;
  display: inline-block;
  font-weight: 100;
}
/* line 142, assets/less/match_view.less */
.record_detail .record .title .sub {
  position: relative;
  top: -25px;
  display: block;
  font-size: 28px;
  color: #999999;
  text-transform: uppercase;
}
/* line 151, assets/less/match_view.less */
.record_detail .record .a_team {
  position: absolute;
  top: 20px;
  left: 150px;
}
/* line 156, assets/less/match_view.less */
.record_detail .record .b_team {
  position: absolute;
  top: 20px;
  right: 150px;
}
/* line 163, assets/less/match_view.less */
.btngroup {
  margin-top: 80px;
  text-align: center;
}
/* line 166, assets/less/match_view.less */
.btngroup button {
  width: 120px;
  height: 40px;
  border: 1px #f90304 solid;
  border-radius: 10px;
  margin: 10px 20px;
  cursor: pointer;
}
/* line 172, assets/less/match_view.less */
.btngroup button span {
  font-size: 18px;
  color: #f90304;
}
@media screen and (max-width: 1200px) {
  /* line 180, assets/less/match_view.less */
  .content_wrap {
    margin-left: 120px;
  }
  /* line 183, assets/less/match_view.less */
  .match_intro {
    height: 300px;
  }
  /* line 185, assets/less/match_view.less */
  .match_intro .inner {
    width: 100%;
  }
  /* line 189, assets/less/match_view.less */
  .match_intro .text_wrap > span {
    font-size: 38px;
    line-height: 42px;
  }
  /* line 193, assets/less/match_view.less */
  .match_intro .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  /* line 199, assets/less/match_view.less */
  .match_intro .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto;
  }
  /* line 203, assets/less/match_view.less */
  .match_intro .text_wrap .comment {
    font-size: 14px;
    line-height: 20px;
  }
  /* line 209, assets/less/match_view.less */
  .match_info {
    margin-top: 50px;
  }
  /* line 211, assets/less/match_view.less */
  .match_info .inner {
    width: 100%;
  }
  /* line 215, assets/less/match_view.less */
  .match_info .match_date span {
    font-size: 32px;
  }
  /* line 220, assets/less/match_view.less */
  .match_info .match_status span {
    font-size: 24px;
  }
  /* line 225, assets/less/match_view.less */
  .match_info .match_stadium span {
    font-size: 24px;
  }
  /* line 230, assets/less/match_view.less */
  .match_info .match_team div {
    padding: 10px 20px;
  }
  /* line 233, assets/less/match_view.less */
  .match_info .match_team .name {
    font-size: 28px;
  }
  /* line 236, assets/less/match_view.less */
  .match_info .match_team .score {
    font-size: 60px;
  }
  /* line 240, assets/less/match_view.less */
  .match_info .match_team .first_team img {
    width: 100px;
    height: 100px;
  }
  /* line 245, assets/less/match_view.less */
  .match_info .match_team .second_team img {
    width: 100px;
    height: 100px;
  }
  /* line 250, assets/less/match_view.less */
  .match_info .line {
    width: 200px;
    height: 4px;
    margin: 30px auto;
  }
  /* line 256, assets/less/match_view.less */
  .record_detail .inner {
    width: 100%;
  }
  /* line 259, assets/less/match_view.less */
  .record_detail .record {
    width: 95%;
    margin: 0 auto;
  }
  /* line 262, assets/less/match_view.less */
  .record_detail .record span {
    font-size: 28px;
  }
  /* line 266, assets/less/match_view.less */
  .record_detail .record .title .sub {
    top: -20px;
    font-size: 22px;
  }
  /* line 271, assets/less/match_view.less */
  .record_detail .record .a_team {
    left: 100px;
  }
  /* line 274, assets/less/match_view.less */
  .record_detail .record .b_team {
    right: 100px;
  }
}
@media screen and (max-width: 874px) {
  /* line 283, assets/less/match_view.less */
  .match_info .match_team div {
    padding: 5px 10px;
  }
  /* line 286, assets/less/match_view.less */
  .match_info .match_team .name {
    font-size: 24px;
  }
  /* line 289, assets/less/match_view.less */
  .match_info .match_team .score {
    font-size: 48px;
  }
  /* line 293, assets/less/match_view.less */
  .match_info .match_team .first_team img {
    width: 75px;
    height: 75px;
  }
  /* line 298, assets/less/match_view.less */
  .match_info .match_team .second_team img {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 768px) {
  /* line 306, assets/less/match_view.less */
  .content_wrap {
    margin-left: 0px;
  }
}
@media screen and (max-width: 630px) {
  /* line 313, assets/less/match_view.less */
  .match_intro .text_wrap > span {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 317, assets/less/match_view.less */
  .match_intro .text_wrap .line {
    width: 150px;
    height: 2px;
  }
  /* line 323, assets/less/match_view.less */
  .match_info .line {
    width: 150px;
    height: 2px;
  }
  /* line 327, assets/less/match_view.less */
  .match_info .match_date span {
    font-size: 24px;
  }
  /* line 332, assets/less/match_view.less */
  .match_info .match_status span,
  .match_info .match_stadium span {
    font-size: 18px;
  }
  /* line 337, assets/less/match_view.less */
  .match_info .match_team .name {
    font-size: 18px;
  }
  /* line 340, assets/less/match_view.less */
  .match_info .match_team .score {
    font-size: 35px;
  }
  /* line 344, assets/less/match_view.less */
  .match_info .match_team .first_team img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  /* line 350, assets/less/match_view.less */
  .match_info .match_team .second_team img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }
  /* line 358, assets/less/match_view.less */
  .record_detail .record {
    padding: 0;
  }
  /* line 360, assets/less/match_view.less */
  .record_detail .record span {
    font-size: 24px;
  }
  /* line 364, assets/less/match_view.less */
  .record_detail .record .title .sub {
    font-size: 18px;
  }
  /* line 368, assets/less/match_view.less */
  .record_detail .record .a_team {
    top: 0;
    left: 15%;
  }
  /* line 372, assets/less/match_view.less */
  .record_detail .record .b_team {
    top: 0;
    right: 15%;
  }
  /* line 378, assets/less/match_view.less */
  .btngroup {
    margin: 30px 0;
  }
  /* line 380, assets/less/match_view.less */
  .btngroup button {
    width: 100px;
    height: 30px;
    margin: 3px;
  }
  /* line 383, assets/less/match_view.less */
  .btngroup button span {
    font-size: 14px;
  }
}
@media screen and (max-width: 496px) {
  /* line 392, assets/less/match_view.less */
  .match_info .inner .match_team {
    margin: 20px auto 40px;
  }
  /* line 396, assets/less/match_view.less */
  .match_info .match_team {
    height: 100px;
    width: 330px;
    position: relative;
    padding: 0;
  }
  /* line 401, assets/less/match_view.less */
  .match_info .match_team .name {
    position: absolute;
    top: 65px;
  }
  /* line 405, assets/less/match_view.less */
  .match_info .match_team .score {
    position: absolute;
    top: 20px;
  }
  /* line 410, assets/less/match_view.less */
  .match_info .match_team .first_team .name {
    left: 35px;
  }
  /* line 413, assets/less/match_view.less */
  .match_info .match_team .first_team .score {
    left: 110px;
  }
  /* line 416, assets/less/match_view.less */
  .match_info .match_team .first_team img {
    position: absolute;
    left: 50px;
    top: 10px;
  }
  /* line 422, assets/less/match_view.less */
  .match_info .match_team .second_team .name {
    right: 35px;
  }
  /* line 425, assets/less/match_view.less */
  .match_info .match_team .second_team .score {
    right: 110px;
  }
  /* line 428, assets/less/match_view.less */
  .match_info .match_team .second_team img {
    position: absolute;
    right: 50px;
    top: 10px;
  }
}
