@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets\less\include\header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets\less\include\header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets\less\include\header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets\less\include\header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets\less\include\header.less */
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 34, assets\less\include\header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
/* line 42, assets\less\include\header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 48, assets\less\include\header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 50, assets\less\include\header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 55, assets\less\include\header.less */
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  /* line 69, assets\less\include\header.less */
  header .nav {
    width: 120px;
  }
  /* line 71, assets\less\include\header.less */
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  /* line 76, assets\less\include\header.less */
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  /* line 81, assets\less\include\header.less */
  header .nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 89, assets\less\include\header.less */
  header {
    position: static;
    text-align: center;
  }
  /* line 92, assets\less\include\header.less */
  header .button {
    display: none;
  }
  /* line 95, assets\less\include\header.less */
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  /* line 99, assets\less\include\header.less */
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  /* line 105, assets\less\include\header.less */
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  /* line 109, assets\less\include\header.less */
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
}
@media screen and (max-width: 580px) {
  /* line 120, assets\less\include\header.less */
  header .nav {
    position: relative;
  }
  /* line 122, assets\less\include\header.less */
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    margin: 0;
    width: 320px;
    height: auto;
    border: 1px #999999 solid;
    background-color: #4a0001;
  }
  /* line 133, assets\less\include\header.less */
  header .nav li {
    display: block;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  /* line 137, assets\less\include\header.less */
  header .nav li:last-child {
    border-bottom: none;
  }
  /* line 141, assets\less\include\header.less */
  header .nav .hamburger {
    display: block;
  }
}
/* line 6, assets\less\include\footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets\less\include\footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets\less\include\footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets\less\include\footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets\less\include\footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets\less\include\footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets\less\include\footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets\less\include\footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
/* line 36, assets\less\include\footer.less */
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 47, assets\less\include\footer.less */
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /* line 58, assets\less\include\footer.less */
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
/* line 3, assets/less/match.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/match.less */
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
}
/* line 10, assets/less/match.less */
.match_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/match01.jpg') no-repeat center;
}
/* line 13, assets/less/match.less */
.match_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 16, assets/less/match.less */
.match_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 23, assets/less/match.less */
.match_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 27, assets/less/match.less */
.match_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 35, assets/less/match.less */
.match_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #f90304;
}
/* line 45, assets/less/match.less */
.match_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #f90304;
}
/* line 50, assets/less/match.less */
.match_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 59, assets/less/match.less */
.match_title > div {
  padding-top: 140px;
}
/* line 62, assets/less/match.less */
.match_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 65, assets/less/match.less */
.match_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 72, assets/less/match.less */
.match_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 76, assets/less/match.less */
.match_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 84, assets/less/match.less */
.match_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 94, assets/less/match.less */
.match_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 101, assets/less/match.less */
.match_schedule {
  padding: 20px 0;
}
/* line 103, assets/less/match.less */
.match_schedule .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 108, assets/less/match.less */
.match_schedule .btngroup button {
  width: 16px;
  height: 30px;
  position: absolute;
  top: 20px;
  cursor: pointer;
}
/* line 114, assets/less/match.less */
.match_schedule .btngroup .next {
  right: 400px;
  background: url(../photo/icon/next01.png) no-repeat center;
}
/* line 118, assets/less/match.less */
.match_schedule .btngroup .prev {
  left: 400px;
  background: url(../photo/icon/prev01.png) no-repeat center;
}
/* line 123, assets/less/match.less */
.match_schedule .match_month {
  text-align: center;
}
/* line 125, assets/less/match.less */
.match_schedule .match_month .month {
  display: inline-block;
  font-size: 38px;
  padding: 10px;
}
/* line 129, assets/less/match.less */
.match_schedule .match_month .month:after {
  content: "월";
}
/* line 133, assets/less/match.less */
.match_schedule .match_month .month_date {
  font-size: 0;
}
/* line 135, assets/less/match.less */
.match_schedule .match_month .month_date li {
  display: inline-block;
  width: 34.133333px;
  height: 34.133333px;
  background-color: #f90304;
}
/* line 140, assets/less/match.less */
.match_schedule .match_month .month_date li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 146, assets/less/match.less */
.match_schedule .match_month .month_date li span {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
}
/* line 156, assets/less/match.less */
.match_schedule .schedule {
  margin-top: 70px;
  text-align: center;
}
/* line 159, assets/less/match.less */
.match_schedule .schedule .match_info {
  display: inline-block;
  padding-bottom: 50px;
  border-bottom: 1px #999999 solid;
}
/* line 163, assets/less/match.less */
.match_schedule .schedule .match_info > div {
  margin: 10px 0;
}
/* line 167, assets/less/match.less */
.match_schedule .schedule .match_info .match_date span {
  font-size: 20px;
}
/* line 172, assets/less/match.less */
.match_schedule .schedule .match_info .match_status span {
  font-size: 18px;
  color: #f90304;
}
/* line 178, assets/less/match.less */
.match_schedule .schedule .match_info .match_stadium span {
  font-size: 18px;
}
/* line 182, assets/less/match.less */
.match_schedule .schedule .match_info .match_team {
  font-size: 0px;
}
/* line 184, assets/less/match.less */
.match_schedule .schedule .match_info .match_team div {
  display: inline-block;
  padding: 10px 30px;
}
/* line 188, assets/less/match.less */
.match_schedule .schedule .match_info .match_team .name {
  font-size: 24px;
  color: #4a0001;
  display: inline-block;
  vertical-align: middle;
}
/* line 194, assets/less/match.less */
.match_schedule .schedule .match_info .match_team .score {
  font-size: 60px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 202, assets/less/match.less */
.match_schedule .schedule .match_info .match_team .first_team:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border: 1px #000 solid;
  border-radius: 50%;
  margin-right: 20px;
}
/* line 213, assets/less/match.less */
.match_schedule .schedule .match_info .match_team .second_team:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border: 1px #000 solid;
  border-radius: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  /* line 229, assets/less/match.less */
  .content_wrap {
    margin-left: 120px;
  }
  /* line 232, assets/less/match.less */
  .match_intro {
    height: 300px;
  }
  /* line 234, assets/less/match.less */
  .match_intro .inner {
    width: 100%;
  }
  /* line 238, assets/less/match.less */
  .match_intro .text_wrap > span {
    font-size: 38px;
    line-height: 42px;
  }
  /* line 242, assets/less/match.less */
  .match_intro .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  /* line 248, assets/less/match.less */
  .match_intro .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto;
  }
  /* line 252, assets/less/match.less */
  .match_intro .text_wrap .comment {
    font-size: 14px;
    line-height: 20px;
  }
  /* line 259, assets/less/match.less */
  .match_title > div {
    padding-top: 40px;
  }
  /* line 262, assets/less/match.less */
  .match_title .inner {
    width: 100%;
  }
  /* line 266, assets/less/match.less */
  .match_title .text_wrap > span {
    font-size: 38px;
    line-height: 1;
  }
  /* line 270, assets/less/match.less */
  .match_title .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  /* line 276, assets/less/match.less */
  .match_title .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  /* line 283, assets/less/match.less */
  .match_schedule .inner {
    width: 100%;
  }
  /* line 286, assets/less/match.less */
  .match_schedule .match_month {
    width: 95%;
    margin: 0 auto;
  }
  /* line 289, assets/less/match.less */
  .match_schedule .match_month .month {
    font-size: 32px;
  }
  /* line 292, assets/less/match.less */
  .match_schedule .match_month .month_date {
    display: none;
  }
  /* line 297, assets/less/match.less */
  .match_schedule .btngroup .next {
    right: 100px;
  }
  /* line 300, assets/less/match.less */
  .match_schedule .btngroup .prev {
    left: 100px;
  }
  /* line 304, assets/less/match.less */
  .match_schedule .schedule {
    margin-top: 50px;
  }
  /* line 306, assets/less/match.less */
  .match_schedule .schedule .match_info {
    padding-bottom: 30px;
  }
  /* line 308, assets/less/match.less */
  .match_schedule .schedule .match_info > div {
    margin: 0;
  }
  /* line 312, assets/less/match.less */
  .match_schedule .schedule .match_info .match_date span {
    font-size: 18px;
  }
  /* line 317, assets/less/match.less */
  .match_schedule .schedule .match_info .match_status span,
  .match_schedule .schedule .match_info .match_stadium span {
    font-size: 15px;
  }
  /* line 321, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team {
    padding: 10px 20px;
  }
  /* line 323, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .name {
    font-size: 18px;
  }
  /* line 326, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .score {
    font-size: 48px;
  }
  /* line 330, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .first_team:before {
    width: 60px;
    height: 60px;
  }
  /* line 335, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .second_team:after {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 345, assets/less/match.less */
  .content_wrap {
    margin-left: 0px;
  }
}
@media screen and (max-width: 680px) {
  /* line 352, assets/less/match.less */
  .match_title .text_wrap .sub {
    letter-spacing: 20px;
    padding-left: 20px;
  }
  /* line 360, assets/less/match.less */
  .match_schedule .match_month .month {
    font-size: 24px;
  }
  /* line 364, assets/less/match.less */
  .match_schedule .schedule {
    margin-top: 30px;
  }
  /* line 367, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team {
    padding: 5px 10px;
  }
  /* line 369, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .score {
    font-size: 32px;
  }
  /* line 373, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .first_team:before {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  /* line 379, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .second_team:after {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 630px) {
  /* line 392, assets/less/match.less */
  .match_intro .text_wrap > span {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 396, assets/less/match.less */
  .match_intro .text_wrap .line {
    width: 150px;
    height: 2px;
  }
  /* line 402, assets/less/match.less */
  .match_title > div {
    padding-top: 30px;
  }
  /* line 406, assets/less/match.less */
  .match_title .text_wrap > span {
    font-size: 32px;
    line-height: 1;
  }
  /* line 410, assets/less/match.less */
  .match_title .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 20px;
    padding-left: 20px;
  }
  /* line 416, assets/less/match.less */
  .match_title .text_wrap .line {
    width: 150px;
    height: 2px;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 496px) {
  /* line 427, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team {
    height: 100px;
    width: 330px;
    position: relative;
    padding: 0;
  }
  /* line 432, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .name {
    position: absolute;
    top: 65px;
  }
  /* line 436, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .score {
    position: absolute;
    top: 20px;
  }
  /* line 441, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .first_team .name {
    left: 35px;
  }
  /* line 444, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .first_team .score {
    left: 110px;
  }
  /* line 447, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .first_team:before {
    position: absolute;
    left: 50px;
    top: 10px;
  }
  /* line 453, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .second_team .name {
    right: 35px;
  }
  /* line 456, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .second_team .score {
    right: 110px;
  }
  /* line 459, assets/less/match.less */
  .match_schedule .schedule .match_info .match_team .second_team:after {
    position: absolute;
    right: 50px;
    top: 10px;
  }
}
