/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'NotoSansCJKkr';
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/recruit.less */
.wrapper {
  height: 100%;
}
/* line 8, assets/less/recruit.less */
.content_wrap {
  height: 100%;
  margin-left: 300px;
  outline: 1px #f00 solid;
}
/* line 12, assets/less/recruit.less */
.content_wrap > div {
  outline: 1px #f00 solid;
}
/* line 15, assets/less/recruit.less */
.content_wrap > div .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 19, assets/less/recruit.less */
.content_wrap > div .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 27, assets/less/recruit.less */
.content_wrap > div .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 37, assets/less/recruit.less */
.content_wrap > div .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto 0;
  background-color: #fff;
}
/* line 44, assets/less/recruit.less */
.content_wrap .recruit_intro {
  height: 100%;
  text-align: center;
  background: url('../../photo/recruit01.png') no-repeat center;
  background-size: 100%;
}
/* line 47, assets/less/recruit.less */
.content_wrap .recruit_intro:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 56, assets/less/recruit.less */
.content_wrap .recruit_main {
  height: 100%;
  text-align: center;
  background: url('../../photo/recruit02.png') no-repeat center;
  background-size: 100%;
}
/* line 59, assets/less/recruit.less */
.content_wrap .recruit_main:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 68, assets/less/recruit.less */
.content_wrap .recruit_main .text_wrap .sub {
  color: #f90304;
}
/* line 71, assets/less/recruit.less */
.content_wrap .recruit_main .text_wrap .line {
  background-color: #f90304;
}
/* line 75, assets/less/recruit.less */
.content_wrap .recruit_main button {
  margin-top: 45px;
  width: 240px;
  height: 50px;
  border: 1px #f90304 solid;
  border-radius: 10%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 14px;
  color: #000;
  cursor: pointer;
}
/* line 87, assets/less/recruit.less */
.content_wrap .recruit_form {
  width: 450px;
  height: 500px;
  border-radius: 30px;
  background-color: #8d8d8d;
  text-align: center;
}
/* line 92, assets/less/recruit.less */
.content_wrap .recruit_form .form_title {
  padding: 30px 0;
}
/* line 94, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .title {
  display: block;
  font-size: 38px;
  color: #4a0001;
  line-height: 1;
}
/* line 100, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .sub_title {
  position: relative;
  top: -7px;
  display: block;
  font-size: 32px;
  letter-spacing: 16px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
/* line 110, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .line {
  display: block;
  width: 120px;
  height: 3px;
  margin: 30px auto 0;
  background-color: #fff;
}
/* line 117, assets/less/recruit.less */
.content_wrap .recruit_form .form {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}
/* line 121, assets/less/recruit.less */
.content_wrap .recruit_form .form div {
  margin-bottom: 20px;
}
/* line 123, assets/less/recruit.less */
.content_wrap .recruit_form .form div label {
  font-size: 18px;
  font-weight: 100;
}
/* line 126, assets/less/recruit.less */
.content_wrap .recruit_form .form div label:first-child {
  display: inline-block;
  width: 100px;
}
/* line 132, assets/less/recruit.less */
.content_wrap .recruit_form .form .btn {
  text-align: center;
}
/* line 134, assets/less/recruit.less */
.content_wrap .recruit_form .form .btn input {
  margin: 20px 10px 0;
  width: 100px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0);
  border: 1px #f90304 solid;
  border-radius: 10px;
  font-size: 18px;
  color: #f90304;
}
