@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets\less\include\header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets\less\include\header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets\less\include\header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets\less\include\header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets\less\include\header.less */
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 34, assets\less\include\header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
/* line 42, assets\less\include\header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 48, assets\less\include\header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 50, assets\less\include\header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 55, assets\less\include\header.less */
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  /* line 69, assets\less\include\header.less */
  header .nav {
    width: 120px;
  }
  /* line 71, assets\less\include\header.less */
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  /* line 76, assets\less\include\header.less */
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  /* line 81, assets\less\include\header.less */
  header .nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 89, assets\less\include\header.less */
  header {
    position: static;
    text-align: center;
  }
  /* line 92, assets\less\include\header.less */
  header .button {
    display: none;
  }
  /* line 95, assets\less\include\header.less */
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  /* line 99, assets\less\include\header.less */
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  /* line 105, assets\less\include\header.less */
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  /* line 109, assets\less\include\header.less */
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
}
@media screen and (max-width: 580px) {
  /* line 120, assets\less\include\header.less */
  header .nav {
    position: relative;
  }
  /* line 122, assets\less\include\header.less */
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    margin: 0;
    width: 320px;
    height: auto;
    border: 1px #999999 solid;
    background-color: #4a0001;
  }
  /* line 133, assets\less\include\header.less */
  header .nav li {
    display: block;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  /* line 137, assets\less\include\header.less */
  header .nav li:last-child {
    border-bottom: none;
  }
  /* line 141, assets\less\include\header.less */
  header .nav .hamburger {
    display: block;
  }
}
/* line 6, assets\less\include\footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets\less\include\footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets\less\include\footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets\less\include\footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets\less\include\footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets\less\include\footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets\less\include\footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets\less\include\footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
/* line 36, assets\less\include\footer.less */
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 47, assets\less\include\footer.less */
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /* line 58, assets\less\include\footer.less */
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
/* line 3, assets/less/recruit.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/recruit.less */
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
  outline: 1px #f00 solid;
}
/* line 11, assets/less/recruit.less */
.content_wrap > div .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 15, assets/less/recruit.less */
.content_wrap > div .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 23, assets/less/recruit.less */
.content_wrap > div .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 33, assets/less/recruit.less */
.content_wrap > div .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto 0;
  background-color: #fff;
}
/* line 40, assets/less/recruit.less */
.content_wrap .recruit_intro {
  height: 100%;
  text-align: center;
  background: url('../photo/recruit01.jpg') no-repeat center;
}
/* line 43, assets/less/recruit.less */
.content_wrap .recruit_intro:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 51, assets/less/recruit.less */
.content_wrap .recruit_main {
  height: 100%;
  text-align: center;
  background: url('../photo/recruit02.jpg') no-repeat center;
}
/* line 54, assets/less/recruit.less */
.content_wrap .recruit_main:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 62, assets/less/recruit.less */
.content_wrap .recruit_main .text_wrap .sub {
  color: #f90304;
}
/* line 65, assets/less/recruit.less */
.content_wrap .recruit_main .text_wrap .line {
  background-color: #f90304;
}
/* line 69, assets/less/recruit.less */
.content_wrap .recruit_main button {
  margin-top: 45px;
  width: 240px;
  height: 50px;
  border: 1px #f90304 solid;
  border-radius: 10%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 14px;
  color: #000;
  cursor: pointer;
}
/* line 81, assets/less/recruit.less */
.content_wrap .recruit_form {
  display: none;
  width: 450px;
  height: 500px;
  border-radius: 30px;
  background-color: #8d8d8d;
  text-align: center;
}
/* line 87, assets/less/recruit.less */
.content_wrap .recruit_form .form_title {
  padding: 30px 0;
}
/* line 89, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .title {
  display: block;
  font-size: 38px;
  color: #4a0001;
  line-height: 1;
}
/* line 95, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .sub_title {
  position: relative;
  top: -7px;
  display: block;
  font-size: 32px;
  letter-spacing: 16px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
/* line 105, assets/less/recruit.less */
.content_wrap .recruit_form .form_title .line {
  display: block;
  width: 120px;
  height: 3px;
  margin: 30px auto 0;
  background-color: #fff;
}
/* line 112, assets/less/recruit.less */
.content_wrap .recruit_form .form {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}
/* line 116, assets/less/recruit.less */
.content_wrap .recruit_form .form div {
  margin-bottom: 20px;
}
/* line 118, assets/less/recruit.less */
.content_wrap .recruit_form .form div label {
  font-size: 18px;
  font-weight: 100;
}
/* line 121, assets/less/recruit.less */
.content_wrap .recruit_form .form div label:first-child {
  display: inline-block;
  width: 100px;
}
/* line 127, assets/less/recruit.less */
.content_wrap .recruit_form .form .btn {
  text-align: center;
}
/* line 129, assets/less/recruit.less */
.content_wrap .recruit_form .form .btn input {
  margin: 20px 10px 0;
  width: 100px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0);
  border: 1px #f90304 solid;
  border-radius: 10px;
  font-size: 18px;
  color: #f90304;
}
