/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'NotoSansCJKkr';
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/team_view.less */
.wrapper {
  height: 100%;
}
/* line 8, assets/less/team_view.less */
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 12, assets/less/team_view.less */
.team_intro {
  width: 100%;
  height: 50%;
  background: url('../../photo/team01.png') no-repeat center;
}
/* line 15, assets/less/team_view.less */
.team_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 18, assets/less/team_view.less */
.team_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 25, assets/less/team_view.less */
.team_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 29, assets/less/team_view.less */
.team_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 37, assets/less/team_view.less */
.team_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 47, assets/less/team_view.less */
.team_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
/* line 52, assets/less/team_view.less */
.team_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 61, assets/less/team_view.less */
.team_title > div {
  padding-top: 140px;
}
/* line 64, assets/less/team_view.less */
.team_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 67, assets/less/team_view.less */
.team_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 74, assets/less/team_view.less */
.team_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 78, assets/less/team_view.less */
.team_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 86, assets/less/team_view.less */
.team_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 96, assets/less/team_view.less */
.team_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 101, assets/less/team_view.less */
.team_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
/* line 109, assets/less/team_view.less */
.team_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 113, assets/less/team_view.less */
.team_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
/* line 120, assets/less/team_view.less */
.team_menu li {
  display: inline-block;
  font-size: 24px;
  color: #4a0001;
  padding: 10px;
  margin-left: 30px;
}
/* line 129, assets/less/team_view.less */
.player_list .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
}
/* line 132, assets/less/team_view.less */
.player_list .player_img {
  width: 945px;
  height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  outline: 1px #f00 solid;
}
/* line 138, assets/less/team_view.less */
.player_list .player_other {
  position: relative;
}
/* line 141, assets/less/team_view.less */
.player_list .player_other .btngroup button {
  position: absolute;
  top: 35px;
  width: 16px;
  height: 30px;
  display: block;
  cursor: pointer;
}
/* line 148, assets/less/team_view.less */
.player_list .player_other .btngroup .next {
  background: url(../../photo/icon/next01.png) no-repeat center;
  right: 50px;
}
/* line 152, assets/less/team_view.less */
.player_list .player_other .btngroup .prev {
  background: url(../../photo/icon/prev01.png) no-repeat center;
  left: 50px;
}
/* line 157, assets/less/team_view.less */
.player_list .player_other ul {
  width: 800px;
  margin: 30px auto;
  text-align: center;
  font-size: 0;
}
/* line 163, assets/less/team_view.less */
.player_list .player_other li {
  display: inline-block;
  width: 75px;
  height: 100px;
  text-align: center;
  margin: 0 20px;
  outline: 1px #f00 solid;
}
/* line 170, assets/less/team_view.less */
.player_list .player_other .other_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
/* line 174, assets/less/team_view.less */
.player_list .player_other span {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  padding: 5px 2px;
}
/* line 181, assets/less/team_view.less */
.player_list .player {
  text-align: center;
  font-size: 0px;
  margin: 50px 0;
}
/* line 185, assets/less/team_view.less */
.player_list .player span {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
}
/* line 190, assets/less/team_view.less */
.player_list .player .position {
  font-size: 60px;
  letter-spacing: 12px;
  padding-left: 12px;
}
/* line 195, assets/less/team_view.less */
.player_list .player .name {
  font-size: 60px;
  letter-spacing: 12px;
  padding-left: 12px;
}
/* line 200, assets/less/team_view.less */
.player_list .player .number {
  display: block;
  margin: 0 auto;
  font-size: 36px;
  letter-spacing: 7.2px;
  padding-left: 7.2px;
  color: #999999;
  position: relative;
  top: -10px;
}
/* line 211, assets/less/team_view.less */
.player_list .details {
  text-align: center;
  margin-bottom: 50px;
}
/* line 214, assets/less/team_view.less */
.player_list .details span {
  width: 250px;
  font-size: 24px;
  line-height: 1;
  color: #999999;
  display: block;
  position: relative;
  text-transform: uppercase;
}
/* line 223, assets/less/team_view.less */
.player_list .details .join,
.player_list .details .birth,
.player_list .details .foot {
  text-align: right;
  margin: 0 auto 0 200px;
}
/* line 228, assets/less/team_view.less */
.player_list .details .height,
.player_list .details .weight,
.player_list .details .blood {
  text-align: left;
  margin: 0 200px 0 auto;
  position: relative;
  top: -10px;
}
/* line 235, assets/less/team_view.less */
.player_list .record_line {
  border-bottom: 2px #4a0001 solid;
  width: 1000px;
  margin: 0 auto;
}
/* line 239, assets/less/team_view.less */
.player_list .record_line span {
  display: inline-block;
  font-size: 24px;
  color: #4a0001;
  padding: 10px 40px;
}
/* line 246, assets/less/team_view.less */
.player_list .record {
  text-align: center;
  margin: 50px auto;
}
/* line 250, assets/less/team_view.less */
.player_list .record .record_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 254, assets/less/team_view.less */
.player_list .record .record_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 262, assets/less/team_view.less */
.player_list .record .record_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 272, assets/less/team_view.less */
.player_list .record .record_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 277, assets/less/team_view.less */
.player_list .record .record_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
/* line 284, assets/less/team_view.less */
.player_list .record .record_info {
  overflow: hidden;
}
/* line 286, assets/less/team_view.less */
.player_list .record .record_info div {
  width: 100px;
  padding: 10px 0;
  margin: 0 35px;
  float: left;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 293, assets/less/team_view.less */
.player_list .record .record_info div span {
  display: block;
  line-height: 1;
}
/* line 296, assets/less/team_view.less */
.player_list .record .record_info div span:first-child {
  font-size: 32px;
  margin-bottom: 40px;
}
/* line 301, assets/less/team_view.less */
.player_list .record .record_info div .score {
  font-size: 60px;
  color: #4a0001;
}
/* line 308, assets/less/team_view.less */
.player_list .btn {
  margin: 80px 0;
  text-align: center;
}
/* line 311, assets/less/team_view.less */
.player_list .btn button {
  width: 120px;
  height: 40px;
  border: 1px #f90304 solid;
  border-radius: 10px;
  font-size: 18px;
  color: #f90304;
  cursor: pointer;
}
