@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets/less/reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets/less/reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets/less/reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets/less/reset.less */
img {
  vertical-align: top;
}
/* line 5, assets/less/reset.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 6, assets/less/reset.less */
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/* line 7, assets/less/reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
/* line 8, assets/less/reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets/less/reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/include/header.less */
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 11, assets/less/include/header.less */
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
/* line 18, assets/less/include/header.less */
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
/* line 24, assets/less/include/header.less */
header .button .login {
  border-right: 1px #fff solid;
}
/* line 28, assets/less/include/header.less */
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
/* line 34, assets/less/include/header.less */
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
/* line 41, assets/less/include/header.less */
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 47, assets/less/include/header.less */
header .nav li {
  padding: 10px 5px;
}
/* line 49, assets/less/include/header.less */
header .nav li a {
  font-size: 18px;
  color: #fff;
}
/* line 6, assets/less/include/footer.less */
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 9, assets/less/include/footer.less */
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 12, assets/less/include/footer.less */
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 18, assets/less/include/footer.less */
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, assets/less/include/footer.less */
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* line 27, assets/less/include/footer.less */
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
/* line 30, assets/less/include/footer.less */
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
/* line 33, assets/less/include/footer.less */
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
/* line 36, assets/less/include/footer.less */
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
/* line 3, assets/less/team.less */
.wrapper {
  height: 100%;
}
/* line 6, assets/less/team.less */
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 10, assets/less/team.less */
.team_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/team01.jpg') no-repeat center;
}
/* line 13, assets/less/team.less */
.team_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 16, assets/less/team.less */
.team_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 23, assets/less/team.less */
.team_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 27, assets/less/team.less */
.team_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 35, assets/less/team.less */
.team_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 45, assets/less/team.less */
.team_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
/* line 50, assets/less/team.less */
.team_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 59, assets/less/team.less */
.team_title > div {
  padding-top: 140px;
}
/* line 62, assets/less/team.less */
.team_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 65, assets/less/team.less */
.team_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 72, assets/less/team.less */
.team_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 76, assets/less/team.less */
.team_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 84, assets/less/team.less */
.team_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 94, assets/less/team.less */
.team_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
/* line 99, assets/less/team.less */
.team_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
/* line 107, assets/less/team.less */
.team_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 111, assets/less/team.less */
.team_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
/* line 118, assets/less/team.less */
.team_menu li {
  display: inline-block;
  font-size: 24px;
  color: #4a0001;
  padding: 10px;
  margin-left: 30px;
}
/* line 127, assets/less/team.less */
.team_list .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 50px;
  font-size: 0px;
}
/* line 132, assets/less/team.less */
.team_list .player {
  width: 175px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin: 10px 30px;
  cursor: pointer;
}
/* line 139, assets/less/team.less */
.team_list .player .player_img {
  width: 175px;
  height: 175px;
  border-radius: 10px;
  margin-bottom: 10px;
}
/* line 143, assets/less/team.less */
.team_list .player .player_img img {
  width: 100%;
}
/* line 147, assets/less/team.less */
.team_list .player .name {
  display: block;
  font-size: 32px;
  color: #4a0001;
}
/* line 152, assets/less/team.less */
.team_list .player .position {
  display: inline-block;
  font-size: 24px;
  color: #999999;
  letter-spacing: 7px;
  text-transform: uppercase;
  position: relative;
  top: -15px;
  left: -5px;
}
/* line 161, assets/less/team.less */
.team_list .player .number {
  display: inline-block;
  font-size: 24px;
  color: #999999;
  letter-spacing: 7px;
  text-transform: uppercase;
  position: relative;
  top: -15px;
  left: 5px;
}
/* line 169, assets/less/team.less */
.team_list .player .number:before {
  content: "no.";
}
