/* line 1, assets\less\reset.less */
* {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\reset.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 3, assets\less\reset.less */
ol,
ul {
  list-style: none;
}
/* line 4, assets\less\reset.less */
img {
  vertical-align: top;
}
/* line 5, assets\less\reset.less */
body {
  font-family: 'NotoSansCJKkr';
}
/* line 6, assets\less\reset.less */
html,
body {
  height: 100%;
}
/* line 7, assets\less\reset.less */
button {
  background-color: rgba(0, 0, 0, 0);
}
/* line 8, assets\less\reset.less */
legend {
  text-indent: -9999px;
}
/* line 9, assets\less\reset.less */
fieldset {
  border: none;
}
/* line 5, assets/less/club.less */
.wrapper {
  height: 100%;
}
/* line 7, assets/less/club.less */
.wrapper .content_wrap {
  height: 100%;
  margin-left: 300px;
}
/* line 11, assets/less/club.less */
.wrapper .club_intro {
  width: 100%;
  height: 50%;
  background: url('../../photo/club01.png') no-repeat center;
}
/* line 14, assets/less/club.less */
.wrapper .club_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 17, assets/less/club.less */
.wrapper .club_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 24, assets/less/club.less */
.wrapper .club_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 28, assets/less/club.less */
.wrapper .club_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 36, assets/less/club.less */
.wrapper .club_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
/* line 46, assets/less/club.less */
.wrapper .club_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
/* line 51, assets/less/club.less */
.wrapper .club_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
/* line 60, assets/less/club.less */
.wrapper .club_content > div {
  padding-top: 140px;
}
/* line 63, assets/less/club.less */
.wrapper .club_content .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
/* line 66, assets/less/club.less */
.wrapper .club_content .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 73, assets/less/club.less */
.wrapper .club_content .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 77, assets/less/club.less */
.wrapper .club_content .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
/* line 85, assets/less/club.less */
.wrapper .club_content .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
/* line 95, assets/less/club.less */
.wrapper .club_content .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
