@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
legend {
  text-indent: -9999px;
}
fieldset {
  border: none;
}
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
header .button .login {
  border-right: 1px #fff solid;
}
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
header .nav li {
  padding: 10px 5px;
}
header .nav li a {
  font-size: 18px;
  color: #fff;
}
header .nav .hamburger {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background: url('../photo/icon/menu01.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  header .nav {
    width: 120px;
  }
  header .nav h1 {
    width: 80px;
    margin: 50px auto 0;
    position: static;
  }
  header .nav ul {
    position: static;
    margin: 30px auto 0;
  }
  header .nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: static;
    text-align: center;
  }
  header .button {
    display: none;
  }
  header .nav {
    position: static;
    width: 100%;
    height: 80px;
  }
  header .nav h1 {
    margin: 0 10px;
    height: 80px;
    float: left;
  }
  header .nav ul {
    margin: 0 auto;
    font-size: 0;
  }
  header .nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    line-height: 80px;
  }
}
@media screen and (max-width: 580px) {
  header .nav {
    position: relative;
  }
  header .nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: initial;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px #999999 solid;
    background-color: #4a0001;
  }
  header .nav li {
    display: block;
    line-height: 50px;
    border-bottom: 1px #999999 solid;
  }
  header .nav li:last-child {
    border-bottom: none;
  }
  header .nav .hamburger {
    display: block;
  }
}
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
@media screen and (max-width: 1200px) {
  .content_wrap .footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .content_wrap .footer .inner span {
    font-size: 11px;
  }
}
.wrapper {
  height: 100%;
}
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
}
.news_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/news01.jpg') no-repeat center;
}
.news_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.news_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.news_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.news_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #fff;
}
.news_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #f90304;
}
.news_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #f90304;
}
.news_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.news_title > div {
  padding-top: 140px;
}
.news_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.news_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.news_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.news_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.news_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  padding-left: 43.2px;
  color: #999999;
}
.news_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
.news_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
.news_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.news_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
.news_menu li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  margin-left: 30px;
}
.news_menu li a {
  color: #4a0001;
}
.gellary_content {
  padding-bottom: 40px;
}
.gellary_content .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.gellary_content .view_title {
  height: 80px;
  background-color: #4a0001;
  position: relative;
  margin-bottom: 40px;
  border-radius: 5px;
}
.gellary_content .view_title > div {
  position: absolute;
}
.gellary_content .view_title .title_wrap {
  top: 10px;
  left: 30px;
}
.gellary_content .view_title .other_wrap {
  right: 30px;
  bottom: 10px;
}
.gellary_content .view_title span {
  color: #fff;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-weight: 100;
}
.gellary_content .view_title .title {
  font-size: 24px;
}
.gellary_content .view_title .writer {
  font-size: 18px;
  margin-right: 50px;
}
.gellary_content .view_title .writer:before {
  content: "by ";
}
.gellary_content .view_title .date {
  font-size: 18px;
  margin-right: 30px;
}
.gellary_content .view_title .date:before {
  content: "작성일 : ";
}
.gellary_content .view_title .view {
  font-size: 18px;
}
.gellary_content .view_title .view:before {
  content: "조회수 : ";
}
.gellary_content .gellary_view {
  padding: 80px 20px 20px;
  text-align: center;
  position: relative;
}
.gellary_content .gellary_view .view li {
  display: inline-block;
  width: 130px;
  height: 130px;
  background-color: #4a0001;
  margin: 10px;
}
.gellary_content .gellary_view .view li img {
  width: 100%;
  height: 100%;
}
.gellary_content .gellary_view .view .main_img {
  display: block;
  width: 600px;
  height: 500px;
  margin: 0 auto 30px;
}
.gellary_content .gellary_view .img_btn button {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 30%;
}
.gellary_content .gellary_view .img_btn .next {
  background: url('../photo/icon/arrow02.png') no-repeat center;
  right: 10px;
}
.gellary_content .gellary_view .img_btn .prev {
  background: url('../photo/icon/arrow01.png') no-repeat center;
  left: 10px;
}
.gellary_content .gellary_view .view_btn {
  overflow: hidden;
  margin-top: 30px;
  padding: 10px 50px;
}
.gellary_content .gellary_view .view_btn .list_btn {
  float: left;
}
.gellary_content .gellary_view .view_btn .modi_btn {
  float: right;
}
.gellary_content .gellary_view .view_btn .modi_btn button:last-child {
  margin-right: 0;
}
.gellary_content .gellary_view .view_btn button {
  width: 100px;
  height: 30px;
  border: 1px #f90304 solid;
  border-radius: 5px;
  color: #f90304;
  margin: 5px;
}
.gellary_content .gellary_view .reply_wrap {
  width: 924px;
  margin: 0 auto 50px;
  text-align: left;
}
.gellary_content .gellary_view .reply_wrap .reply_line {
  border-bottom: 2px #4a0001 solid;
  margin-bottom: 20px;
}
.gellary_content .gellary_view .reply_wrap .reply_line span {
  display: inline-block;
  font-size: 18px;
  color: #4a0001;
  padding: 10px 40px;
}
.gellary_content .gellary_view .reply_wrap .reply_info {
  padding: 10px;
  position: relative;
  height: 150px;
}
.gellary_content .gellary_view .reply_wrap .reply_info input {
  text-align: center;
  margin-bottom: 20px;
}
.gellary_content .gellary_view .reply_wrap .reply_info .name,
.gellary_content .gellary_view .reply_wrap .reply_info .pw {
  width: 110px;
  height: 20px;
  border: none;
  margin-right: 20px;
  border-bottom: 1px #999999 solid;
}
.gellary_content .gellary_view .reply_wrap .reply_info .comment {
  text-align: left;
  display: block;
  border: none;
  border-bottom: 1px #999999 solid;
  width: 750px;
  padding-left: 40px;
}
.gellary_content .gellary_view .reply_wrap .reply_info .submit {
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #f90304 solid;
  border-radius: 5px;
  color: #f90304;
  position: absolute;
  right: 0;
  bottom: 0;
}
.gellary_content .gellary_view .reply_wrap .reply_list li {
  position: relative;
  border-bottom: 1px #999999 solid;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info {
  margin-bottom: 20px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info span {
  padding: 5px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info .name {
  font-size: 15px;
  margin-right: 10px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_info .date {
  color: #999999;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment {
  width: 850px;
  margin: 0 auto 15px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment p {
  color: #999999;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn {
  position: absolute;
  top: 0;
  right: 55px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn button {
  padding: 5px;
}
.gellary_content .gellary_view .reply_wrap .reply_list .comment_btn .del {
  color: #f90304;
}
@media screen and (max-width: 1200px) {
  .content_wrap {
    margin-left: 120px;
  }
  .news_intro {
    height: 300px;
  }
  .news_intro .inner {
    width: 100%;
  }
  .news_intro .text_wrap > span {
    font-size: 38px;
    line-height: 42px;
  }
  .news_intro .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  .news_intro .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto;
  }
  .news_title > div {
    padding-top: 40px;
  }
  .news_title .inner {
    width: 100%;
  }
  .news_title .text_wrap > span {
    font-size: 38px;
    line-height: 1;
  }
  .news_title .text_wrap .sub {
    top: -10px;
    font-size: 24px;
    letter-spacing: 32px;
    padding-left: 32px;
  }
  .news_title .text_wrap .line {
    width: 200px;
    height: 4px;
    margin: 30px auto 0;
  }
  .news_title .text_wrap .vertical_line {
    height: 70px;
    margin-bottom: 30px;
  }
  .news_menu .inner {
    width: 100%;
  }
  .news_menu ul {
    width: 95%;
  }
  .news_menu li {
    font-size: 18px;
  }
  .gellary_content .inner {
    width: 100%;
  }
  .gellary_content .gellary_view {
    padding: 50px 10px;
  }
  .gellary_content .gellary_view .reply_wrap {
    width: 90%;
    margin: 30px auto;
  }
  .gellary_content .gellary_view .reply_wrap .reply_line {
    width: 100%;
  }
  .gellary_content .gellary_view .reply_wrap .reply_line span {
    font-size: 16px;
    padding: 5px 25px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_info {
    height: 80px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_info .comment {
    width: 70%;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment p {
    display: block;
    width: 90%;
  }
  .gellary_content .view_title {
    width: 95%;
    margin: 0 auto;
  }
  .gellary_content .view_title .title {
    font-size: 24px;
  }
  .gellary_content .view_title .writer {
    font-size: 18px;
  }
  .gellary_content .view_title .date,
  .gellary_content .view_title .view {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .content_wrap {
    margin-left: 0px;
  }
}
@media screen and (max-width: 630px) {
  .news_intro .text_wrap > span {
    font-size: 32px;
    line-height: 40px;
  }
  .news_intro .text_wrap .line {
    width: 150px;
    height: 2px;
  }
  .news_intro .text_wrap .vertical_line {
    height: 50px;
  }
  .news_menu li {
    font-size: 14px;
    margin-left: 15px;
    padding: 10px 5px;
  }
  .gellary_content .view_title {
    width: 95%;
    margin: 0 auto;
  }
  .gellary_content .view_title .title {
    font-size: 18px;
  }
  .gellary_content .view_title .writer {
    font-size: 13px;
    margin-right: 20px;
  }
  .gellary_content .view_title .date,
  .gellary_content .view_title .view {
    font-size: 11px;
  }
  .gellary_content .view_title .date {
    margin-right: 10px;
  }
}
@media screen and (max-width: 460px) {
  .news_menu li {
    text-align: center;
    width: 45%;
    margin-left: 0;
  }
}
@media screen and (max-width: 820px) {
  .gellary_content .gellary_view .view li {
    width: 75px;
    height: 75px;
  }
  .gellary_content .gellary_view .view .main_img {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 580px) {
  .gellary_content .gellary_view .img_btn {
    display: none;
  }
  .gellary_content .gellary_view .view li {
    border: 1px #999999 solid;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 10px;
  }
  .gellary_content .gellary_view .view .main_img {
    width: 300px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 680px) {
  .gellary_content .gellary_view .view_btn {
    padding: 0 30px;
  }
  .gellary_content .gellary_view .view_btn button {
    width: 80px;
    height: 20px;
    margin: 3px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_info .submit {
    width: 80px;
    height: 20px;
  }
}
@media screen and (max-width: 520px) {
  .gellary_content .gellary_view .view_btn {
    padding: 0 10px;
  }
  .gellary_content .gellary_view .view_btn .modi_btn {
    float: left;
  }
  .gellary_content .gellary_view .reply_wrap .reply_info .name,
  .gellary_content .gellary_view .reply_wrap .reply_info .pw {
    width: 70px;
    margin-right: 10px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_info .submit {
    top: 15px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment_info .name {
    font-size: 13px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment_info .date {
    font-size: 11px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment p {
    font-size: 12px;
  }
  .gellary_content .gellary_view .reply_wrap .reply_list .comment_btn {
    right: 10px;
  }
}
