* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  font-family: 'NotoSansCJKkr';
}
html,
body {
  height: 100%;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
legend {
  text-indent: -9999px;
}
fieldset {
  border: none;
}
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
header .button .login {
  border-right: 1px #fff solid;
}
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #f00;
}
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
header .nav li {
  padding: 10px 5px;
}
header .nav li a {
  font-size: 18px;
  color: #fff;
}
.content_wrap .footer {
  width: 100%;
  height: 230px;
}
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
.content_wrap .footer .inner .facebook {
  background: url('../../photo/icon/sns01.png') no-repeat center;
}
.content_wrap .footer .inner .google {
  background: url('../../photo/icon/sns02.png') no-repeat center;
}
.content_wrap .footer .inner .twitter {
  background: url('../../photo/icon/sns03.png') no-repeat center;
}
.content_wrap .footer .inner .youtube {
  background: url('../../photo/icon/sns04.png') no-repeat center;
}
.wrapper {
  height: 100%;
}
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
.match_intro {
  width: 100%;
  height: 50%;
  background: url('../../photo/match01.png') no-repeat center;
}
.match_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
.match_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.match_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.match_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.match_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #f90304;
}
.match_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #f90304;
}
.match_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.match_title > div {
  padding-top: 140px;
}
.match_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  text-align: center;
}
.match_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.match_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.match_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.match_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
.match_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
.match_schedule {
  padding: 20px 0;
}
.match_schedule .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  outline: 1px #f00 solid;
  position: relative;
}
.match_schedule .btngroup button {
  width: 16px;
  height: 30px;
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.match_schedule .btngroup .next {
  right: 400px;
  background: url(../../photo/icon/next01.png) no-repeat center;
}
.match_schedule .btngroup .prev {
  left: 400px;
  background: url(../../photo/icon/prev01.png) no-repeat center;
}
.match_schedule .match_month {
  text-align: center;
}
.match_schedule .match_month .month {
  display: inline-block;
  font-size: 38px;
  padding: 10px;
  outline: 1px #f00 solid;
}
.match_schedule .match_month .month_date {
  font-size: 0;
}
.match_schedule .match_month .month_date li {
  display: inline-block;
  width: 34.133333px;
  height: 34.133333px;
  background-color: #f90304;
  outline: 1px #f00 solid;
}
.match_schedule .match_month .month_date li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.match_schedule .match_month .month_date li span {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
}
.match_schedule .schedule {
  margin-top: 70px;
  text-align: center;
}
.match_schedule .schedule .match_info {
  display: inline-block;
  padding-bottom: 50px;
  border-bottom: 1px #999999 solid;
}
.match_schedule .schedule .match_info > div {
  margin: 10px 0;
}
.match_schedule .schedule .match_info .match_date span {
  font-size: 20px;
}
.match_schedule .schedule .match_info .match_status span {
  font-size: 18px;
  color: #f90304;
}
.match_schedule .schedule .match_info .match_stadium span {
  font-size: 18px;
}
.match_schedule .schedule .match_info .match_team {
  font-size: 0px;
}
.match_schedule .schedule .match_info .match_team div {
  display: inline-block;
  padding: 10px 30px;
  outline: 1px #f00 solid;
}
.match_schedule .schedule .match_info .match_team .name {
  font-size: 24px;
  color: #4a0001;
  display: inline-block;
  vertical-align: middle;
}
.match_schedule .schedule .match_info .match_team .score {
  font-size: 60px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.match_schedule .schedule .match_info .match_team .first_team:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border: 1px #000 solid;
  border-radius: 50%;
  margin-right: 20px;
}
.match_schedule .schedule .match_info .match_team .second_team:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border: 1px #000 solid;
  border-radius: 50%;
  margin-left: 20px;
}
