@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
legend {
  text-indent: -9999px;
}
fieldset {
  border: none;
}
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
header .button .login {
  border-right: 1px #fff solid;
}
header .nav {
  width: 15.625%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
header .nav h1 {
  text-indent: -9999px;
  width: 46.66666%;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 27%;
  background: url('../photo/logo.png') no-repeat center;
  background-size: 100%;
}
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
header .nav li {
  padding: 10px 5px;
}
header .nav li a {
  font-size: 18px;
  color: #fff;
}
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
.content_wrap .footer .inner .facebook {
  background: url('../photo/icon/sns01.png') no-repeat center;
}
.content_wrap .footer .inner .google {
  background: url('../photo/icon/sns02.png') no-repeat center;
}
.content_wrap .footer .inner .twitter {
  background: url('../photo/icon/sns03.png') no-repeat center;
}
.content_wrap .footer .inner .youtube {
  background: url('../photo/icon/sns04.png') no-repeat center;
}
.wrapper {
  height: 100%;
}
.content_wrap {
  height: 100%;
  margin-left: 15.625%;
  outline: 1px #f00 solid;
}
.content_wrap > div .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.content_wrap > div .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.content_wrap > div .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
.content_wrap > div .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto 0;
  background-color: #fff;
}
.content_wrap .recruit_intro {
  height: 100%;
  text-align: center;
  background: url('../photo/recruit01.jpg') no-repeat center;
}
.content_wrap .recruit_intro:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .recruit_main {
  height: 100%;
  text-align: center;
  background: url('../photo/recruit02.jpg') no-repeat center;
}
.content_wrap .recruit_main:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .recruit_main .text_wrap .sub {
  color: #f90304;
}
.content_wrap .recruit_main .text_wrap .line {
  background-color: #f90304;
}
.content_wrap .recruit_main button {
  margin-top: 45px;
  width: 240px;
  height: 50px;
  border: 1px #f90304 solid;
  border-radius: 10%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 14px;
  color: #000;
  cursor: pointer;
}
.content_wrap .recruit_form {
  display: none;
  width: 450px;
  height: 500px;
  border-radius: 30px;
  background-color: #8d8d8d;
  text-align: center;
}
.content_wrap .recruit_form .form_title {
  padding: 30px 0;
}
.content_wrap .recruit_form .form_title .title {
  display: block;
  font-size: 38px;
  color: #4a0001;
  line-height: 1;
}
.content_wrap .recruit_form .form_title .sub_title {
  position: relative;
  top: -7px;
  display: block;
  font-size: 32px;
  letter-spacing: 16px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.content_wrap .recruit_form .form_title .line {
  display: block;
  width: 120px;
  height: 3px;
  margin: 30px auto 0;
  background-color: #fff;
}
.content_wrap .recruit_form .form {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}
.content_wrap .recruit_form .form div {
  margin-bottom: 20px;
}
.content_wrap .recruit_form .form div label {
  font-size: 18px;
  font-weight: 100;
}
.content_wrap .recruit_form .form div label:first-child {
  display: inline-block;
  width: 100px;
}
.content_wrap .recruit_form .form .btn {
  text-align: center;
}
.content_wrap .recruit_form .form .btn input {
  margin: 20px 10px 0;
  width: 100px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0);
  border: 1px #f90304 solid;
  border-radius: 10px;
  font-size: 18px;
  color: #f90304;
}
