@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-color: none;
  cursor: pointer;
}
legend {
  text-indent: -9999px;
}
fieldset {
  border: none;
}
header {
  height: 80px;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
header .button {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 31px;
}
header .button span {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}
header .button .login {
  border-right: 1px #fff solid;
}
header .nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #4a0001;
}
header .nav h1 {
  text-indent: -9999px;
  width: 140px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 80px;
  background: url('../../photo/logo.png') no-repeat center;
}
header .nav ul {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
header .nav li {
  padding: 10px 5px;
}
header .nav li a {
  font-size: 18px;
  color: #fff;
}
.content_wrap .footer {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
}
.content_wrap .footer .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.content_wrap .footer .inner:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner > div {
  display: inline-block;
  vertical-align: middle;
}
.content_wrap .footer .inner i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}
.content_wrap .footer .inner .facebook {
  background: url('../../photo/icon/sns01.png') no-repeat center;
}
.content_wrap .footer .inner .google {
  background: url('../../photo/icon/sns02.png') no-repeat center;
}
.content_wrap .footer .inner .twitter {
  background: url('../../photo/icon/sns03.png') no-repeat center;
}
.content_wrap .footer .inner .youtube {
  background: url('../../photo/icon/sns04.png') no-repeat center;
}
.wrapper {
  height: 100%;
}
.content_wrap {
  height: 100%;
  margin-left: 300px;
}
.team_intro {
  width: 100%;
  height: 50%;
  background: url('../photo/team01.png') no-repeat center;
}
.team_intro .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.team_intro .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.team_intro .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.team_intro .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.team_intro .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #fff;
}
.team_intro .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #fff;
}
.team_intro .text_wrap .comment {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.team_title > div {
  padding-top: 140px;
}
.team_title .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.team_title .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.team_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.team_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.team_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
.team_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
.team_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
.team_menu .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.team_menu ul {
  width: 1000px;
  font-size: 0px;
  border-bottom: 2px #4a0001 solid;
  text-align: left;
  margin: 0 auto 40px;
}
.team_menu li {
  display: inline-block;
  font-size: 24px;
  color: #4a0001;
  padding: 10px;
  margin-left: 30px;
}
.player_list .inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.player_list .player_img {
  width: 945px;
  height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  background: url('../photo/team/player_box.png') no-repeat center;
  background-size: width: 100%;
}
.player_list .player_img img {
  height: 100%;
}
.player_list .player_other {
  position: relative;
}
.player_list .player_other .btngroup button {
  position: absolute;
  top: 35px;
  width: 16px;
  height: 30px;
  display: block;
  cursor: pointer;
}
.player_list .player_other .btngroup .next {
  background: url(../photo/icon/next01.png) no-repeat center;
  right: 50px;
}
.player_list .player_other .btngroup .prev {
  background: url(../photo/icon/prev01.png) no-repeat center;
  left: 50px;
}
.player_list .player_other ul {
  width: 800px;
  margin: 30px auto;
  text-align: center;
  font-size: 0;
}
.player_list .player_other li {
  display: inline-block;
  width: 75px;
  height: 100px;
  text-align: center;
  margin: 0 20px;
}
.player_list .player_other .other_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.player_list .player_other .other_img img {
  width: 100%;
}
.player_list .player_other span {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  padding: 5px 2px;
}
.player_list .player {
  text-align: center;
  font-size: 0px;
  margin: 50px 0;
}
.player_list .player span {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
}
.player_list .player .position {
  font-size: 60px;
  letter-spacing: 12px;
  padding-left: 12px;
}
.player_list .player .name {
  font-size: 60px;
  letter-spacing: 12px;
  padding-left: 12px;
}
.player_list .player .number {
  display: block;
  margin: 0 auto;
  font-size: 36px;
  letter-spacing: 7.2px;
  padding-left: 7.2px;
  color: #999999;
  position: relative;
  top: -10px;
}
.player_list .details {
  text-align: center;
  margin-bottom: 50px;
}
.player_list .details span {
  width: 250px;
  font-size: 24px;
  line-height: 1;
  color: #999999;
  display: block;
  position: relative;
  text-transform: uppercase;
}
.player_list .details .join,
.player_list .details .birth,
.player_list .details .foot {
  text-align: right;
  margin: 0 auto 0 200px;
}
.player_list .details .height,
.player_list .details .weight,
.player_list .details .blood {
  text-align: left;
  margin: 0 200px 0 auto;
  position: relative;
  top: -10px;
}
.player_list .record_line {
  border-bottom: 2px #4a0001 solid;
  width: 1000px;
  margin: 0 auto;
}
.player_list .record_line span {
  display: inline-block;
  font-size: 24px;
  color: #4a0001;
  padding: 10px 40px;
}
.player_list .record {
  text-align: center;
  margin: 50px auto;
}
.player_list .record .record_title .text_wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.player_list .record .record_title .text_wrap > span {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  font-weight: lighter;
  color: #4a0001;
}
.player_list .record .record_title .text_wrap .sub {
  position: relative;
  top: -20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 43.2px;
  color: #999999;
}
.player_list .record .record_title .text_wrap .line {
  width: 240px;
  height: 6px;
  margin: 40px auto;
  background-color: #4a0001;
}
.player_list .record .record_title .text_wrap .vertical_line {
  width: 2px;
  height: 100px;
  background-color: #4a0001;
  margin: 0 auto 40px;
}
.player_list .record .record_info {
  overflow: hidden;
}
.player_list .record .record_info div {
  width: 100px;
  padding: 10px 0;
  margin: 0 33px;
  float: left;
  border: 1px #999999 solid;
  border-radius: 10px;
  text-align: center;
}
.player_list .record .record_info div span {
  display: block;
  line-height: 1;
}
.player_list .record .record_info div span:first-child {
  font-size: 32px;
  margin-bottom: 40px;
}
.player_list .record .record_info div .score {
  font-size: 60px;
  color: #4a0001;
}
.player_list .btn {
  margin: 80px 0;
  text-align: center;
}
.player_list .btn button {
  width: 120px;
  height: 40px;
  border: 1px #f90304 solid;
  border-radius: 10px;
  font-size: 18px;
  color: #f90304;
  cursor: pointer;
}
